<!--/**
* 产品名称 quyiyuan.
* 创建用户: zhangming
* 日期: 2015年11月5日11:26:42
*/-->
<ion-view  class="qy_report_multipe">
    <!--标题栏-->
    <ion-nav-bar align-title="center" class="qy-header">
        <ion-nav-back-button  ng-click="back()"></ion-nav-back-button>
        <ion-nav-title>
            <span kyee-i18n-directive code="mainTitle" default="检查检验单"></span>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-clear " ng-click="openRightMenu('more->MAIN_TAB')">
                <i class="icon ion-navicon"></i>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-bouncing="true" padding="false"  scroll="false" class="qy-bg-grey1" ng-hide="isLoadComplete" scrollbar-y="false">
        <div ng-if="IS_SHOW_REPORT_MESSAGE_CHECK" style="background-color: white;margin-bottom: 10px;">
            <div ng-if="!getCode" style="padding: 14px 25px 14px 25px;">
                <div class="" >{{PASS_MESSAGE}}</div>
                <span class="qy-green" style="float: right;position: relative;top: -20px;" ng-click="getCheckAndCode()" > 立即校验 </span>
            </div>
            <div ng-if="getCode" style="padding: 14px 25px 0px 25px;">
                <div style="margin-bottom: 10px;" >已向您在医院预留的手机发送短信，请输入验证码</div>

                <div style="    display: flex;">
                    <label class="item-input-wrapper">
                        <input type="tel" class="qy-bg-grey2" ng-change="codeLength()" ng-model="report.checkCode" style="padding-left: 5px;width: 95%" >
                    </label>
                    <button id="report.validateBtn" ng-click="toCommit();"
                            ng-disabled="validateBtnDisabled"
                            class="button qy-bg-green commit_btn" style="border: none" >确认
                    </button>
                </div>
                <button id="report.validateMsg" ng-class="toLeft" class="qy-grey5 default_text" style="" ></button>
            </div>

        </div>
        <div style="line-height: 30px;" class="report_head qy-bg-white" ng-style="{display:patientEmpty}">
            <span class="f14 mar-r-10 user_name_color">{{USER_NAME}}</span>
            <span class="f14">{{SEX}}<span ng-if="!sexEmpty&&!ageEmpty"> / </span>{{AGE}}</span>
        </div>
        <ion-scroll ng-if="!isEmpty" ng-style="{'height':ionScrollHeight}" id="scroll_id" ng-hide="showCon" class="border-t">
            <ion-refresher pulling-text="{{$root.lang.pullingText}}" pulling-icon="" refreshing-icon=""
                           refreshing-text="{{$root.lang.refreshingText}}" class="qy-refresh-icon" on-refresh="doRefresh(false,true)">
            </ion-refresher>
            <div ng-if="isThreeMonthData" class="f14 is_three_div" kyee-i18n-directive code="lastThreeMonthData" default="最近3个月的的检查检验单"></div>
            <ion-list>
                <ion-item class="f14  list-b qy-bg-white li_bottom" ng-repeat="reportDataItem in ThreeMonthData">
                    <span ng-if="reportDataItem.REPORT_FLAG!='LAB'" class="icon-examination1 qy-orange icon-examination-font" style="top: 18px;"></span>
                    <span ng-if="reportDataItem.REPORT_FLAG=='LAB' && reportDataItem.HAVE_DETAIL == 1" class="icon-examination2 qy-red icon-examination-font" style="top: 18px;"></span>
                    <span ng-if="reportDataItem.REPORT_FLAG=='LAB' && reportDataItem.HAVE_DETAIL == 0" class="icon-examination2 qy-red icon-examination-font" style="color: #ccc;top: 18px;"></span>
                    <!--检查单-->
                    <div class="div_mar_left" ng-if="reportDataItem.REPORT_FLAG=='EXAM'" ng-click="clickItem(reportDataItem)">
                        <h5 class="item_name text-ellipsis">{{reportDataItem.EXAM_CLASS}}
                            <span ng-style="{'display':reportDataItem.EXAM_SUB_CLASS!=null
                            && reportDataItem.EXAM_SUB_CLASS !=''?'inline':'none'}">/{{reportDataItem.EXAM_SUB_CLASS}}
                        </span>
                        </h5>
                        <div class="div_hosname_date">
                            <span class="f12 qy-grey5 div_hosname_span">
                                {{reportDataItem.HOSPITAL_NAME}}</span>
                            <span style="position: absolute; right: 14px; top: 20px;">
                                <span  class="f12 qy-grey5 mar-l-14">{{getDate(reportDataItem.REPORT_DATE)}}</span>
                                <span class="ico ion-chevron-right icon_show"></span>
                            </span>

                        </div>
                    </div>
                    <!--检验单 有明细-->
                    <div class="div_mar_left" ng-if="reportDataItem.REPORT_FLAG=='LAB' && reportDataItem.HAVE_DETAIL == 1"
                         ng-click="clickItem(reportDataItem)">
                        <h5 class="item_name text-ellipsis">{{reportDataItem.EXAM_SUB_CLASS}}</h5>
                        <div class="div_hosname_date">
                            <span class="f12 qy-grey5 div_hosname_span"> {{reportDataItem.HOSPITAL_NAME}}</span>
                            <span style="position: absolute; right: 14px; top: 20px;">
                                <span class="f12 qy-grey5 mar-l-14"> {{getDate(reportDataItem.REPORT_DATE)}}</span>
                                <span class="ico ion-chevron-right icon_show"></span>
                            </span>
                        </div>
                    </div>
                    <!--检验单 无明细数据-->
                    <div class="div_mar_left" ng-if="reportDataItem.REPORT_FLAG=='LAB' && reportDataItem.HAVE_DETAIL == 0">
                        <span class="item_name text-ellipsis" ng-style="{'max-width':divWidth+'px'}" style="color: #ccc;display: inline-block;margin-bottom: 0px;">{{reportDataItem.EXAM_SUB_CLASS}}</span>
                        <span style="background-color: #f4f4f4;color: #ccc;border-radius: 2px;margin-left: 5px;padding:0px 5px 0.5px 5px;font-size: 12px;position: absolute;">未出结果</span>
                        <div class="div_hosname_date">
                            <span class="f12 qy-grey5 div_hosname_span" style="color: #ccc"> {{reportDataItem.HOSPITAL_NAME}}</span>
                            <span style="position: absolute; right: 25px; top: 20px;">
                                <span class="f12 qy-grey5 mar-l-14" style="color: #ccc"> {{getDate(reportDataItem.REPORT_DATE)}}</span>
                            </span>
                        </div>
                    </div>
                    <ion-option-button class="button-info qy-fff delete_btn " ng-click="delReportData($index,reportDataItem,true)">
                        <span kyee-i18n-directive code="deleteCode" default="删 除"></span>
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <div ng-if="isHistoryData" class="f14 is_history_div" kyee-i18n-directive code="historyData" default="历史检查检验单"></div>
            <ion-list>
                <ion-item class="f14  list-b qy-bg-white li_bottom" ng-repeat="reportDataItem in HistoryData">
                    <span ng-if="reportDataItem.REPORT_FLAG!='LAB'" class="icon-examination1 qy-orange icon-examination-font" style="top: 18px;"></span>
                    <span ng-if="reportDataItem.REPORT_FLAG=='LAB' && reportDataItem.HAVE_DETAIL == 1" class="icon-examination2 qy-red icon-examination-font" style="top: 18px;"></span>
                    <span ng-if="reportDataItem.REPORT_FLAG=='LAB' && reportDataItem.HAVE_DETAIL == 0" class="icon-examination2 qy-red icon-examination-font" style="color: #ccc;top: 18px;"></span>
                    <!--检查单-->
                    <div class="div_mar_left" ng-if="reportDataItem.REPORT_FLAG=='EXAM'" ng-click="clickItem(reportDataItem)">
                        <h5 class="item_name text-ellipsis">{{reportDataItem.EXAM_CLASS}}
                            <span ng-style="{'display':reportDataItem.EXAM_SUB_CLASS!=null
                            && reportDataItem.EXAM_SUB_CLASS !=''?'inline':'none'}">/{{reportDataItem.EXAM_SUB_CLASS}}
                        </span>
                        </h5>
                        <div class="div_hosname_date">
                            <span class="f12 qy-grey5 div_hosname_span">
                                {{reportDataItem.HOSPITAL_NAME}}</span>
                            <span style="position: absolute; right: 14px; top: 20px;">
                                <span  class="f12 qy-grey5 mar-l-14">{{getDate(reportDataItem.REPORT_DATE)}}</span>
                                <span class="ico ion-chevron-right icon_show"></span>
                            </span>

                        </div>
                    </div>
                    <!--检验单 有明细-->
                    <div class="div_mar_left" ng-if="reportDataItem.REPORT_FLAG=='LAB' && reportDataItem.HAVE_DETAIL == 1"
                         ng-click="clickItem(reportDataItem)">
                        <h5 class="item_name text-ellipsis">{{reportDataItem.EXAM_SUB_CLASS}}</h5>
                        <div class="div_hosname_date">
                            <span class="f12 qy-grey5 div_hosname_span"> {{reportDataItem.HOSPITAL_NAME}}</span>
                            <span style="position: absolute; right: 14px; top: 20px;">
                                <span   class="f12 qy-grey5 mar-l-14"> {{getDate(reportDataItem.REPORT_DATE)}}</span>
                                <span class="ico ion-chevron-right icon_show"></span>
                            </span>

                        </div>
                    </div>
                    <!--检验单 无明细数据-->
                    <div class="div_mar_left" ng-if="reportDataItem.REPORT_FLAG=='LAB' && reportDataItem.HAVE_DETAIL == 0">
                        <span class="item_name text-ellipsis" ng-style="{'max-width':divWidth+'px'}" style="color: #ccc;display: inline-block;margin-bottom: 0px;">{{reportDataItem.EXAM_SUB_CLASS}}</span>
                        <span style="background-color: #f4f4f4;color: #ccc;border-radius: 2px;margin-left: 5px;padding:0px 5px 0.5px 5px;font-size: 12px;position: absolute;">未出结果</span>
                        <div class="div_hosname_date">
                            <span class="f12 qy-grey5 div_hosname_span" style="color: #ccc"> {{reportDataItem.HOSPITAL_NAME}}</span>
                            <span style="position: absolute; right: 25px; top: 20px;">
                                <span class="f12 qy-grey5 mar-l-14" style="color: #ccc"> {{getDate(reportDataItem.REPORT_DATE)}}</span>
                            </span>
                        </div>
                    </div>
                    <!--<span class="ico ion-chevron-right report_item_arrow"></span>-->

                    <ion-option-button class="button-info qy-fff delete_btn" ng-click="delReportData($index,reportDataItem,false)">
                        <span kyee-i18n-directive code="deleteCode" default="删 除"></span>
                    </ion-option-button>
                </ion-item>
            </ion-list>

            <div class="ta-c qy-grey4" ng-style="{'display':noLoadTxt==true? 'block':'none'}">
                <span kyee-i18n-directive code="loadCompleteALLData" default="已加载全部数据"></span>
            </div>
            <ion-infinite-scroll  ng-if="noLoad" immediate-check="false" on-infinite="loadMore(true,false)" distance="1%"   icon="ion-loading-c">
            </ion-infinite-scroll>
        </ion-scroll>
        <ion-scroll ng-if="isEmpty"  ng-style="{'height':ionScrollHeight}" id="null_scroll_id" ng-hide="showCon" class="border-t">
            <ion-refresher pulling-text="{{$root.lang.pullingText}}" pulling-icon="" refreshing-icon=""
                           refreshing-text="{{$root.lang.refreshingText}}" class="qy-refresh-icon" on-refresh="doRefresh(false,true)">
            </ion-refresher>
            <ion-list>
                <div ng-style="{'padding-top':KyeeEnv.innerSize.height<481 ? '28%':'45%'}"  class="empty-text qy-grey5">
                    <i class="icon icon-icon_3 empty-icon"></i>
                    <p class="report_empty_font"  ng-bind-html="emptyText|kyee_to_html" id="report_emptyId">{{emptyText}}</p>
                </div>
            </ion-list>
        </ion-scroll>

        <!--底部提示黑框-->
        <div style="font-size: 14px;padding-bottom: 8px;" class="footer_bar qy-fff pad-b-14 pad-td-5 flex" ng-hide="!tips || !tipsIsShow" id="footbar_id">
            <div class="flex_auto">
                <div class="foot_bar_div" ng-bind-html="tips|kyee_to_html" id="report_tipId">
                    {{tips}}
                </div>
            </div>
            <div style="width: 14px">
            </div>
           <!-- <div style="padding-left: 14px;" class="ion-close" ng-click="tipIsShow()"></div>-->
            <div style="" class="ion-close flex_auto" ng-click="tipIsShow()"></div>
        </div>
    </ion-content>
</ion-view>