<ion-view  class="doctor_patient_relation" cache-view="false">
    <ion-nav-bar class="qy-header" align-title="center">
        <ion-nav-title>
            <span>完善个人信息</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content has-bouncing="true" class="qy-bg-grey2">
        <div class="qy-bg-white pad-d-20">
            <!--医生基本信息部分-->
            <div class="inline pad-t-20 pad-l-14">
                <img  ng-if="doctor_sex == 1" class="head_img fl-l" ng-src="{{doctor_pic?doctor_pic:'resource/images/base/head_default_female.jpg'}} "onerror="javascript:this.src='resource/images/base/head_default_female.jpg'"/>
                <img  ng-if="doctor_sex != 1" class="head_img fl-l" ng-src="{{doctor_pic?doctor_pic:'resource/images/base/head_default_man.jpg'}} "onerror="javascript:this.src='resource/images/base/head_default_man.jpg'"/>
                <div class="fl-l pad-l-12">
                    <div class="f16 qy-grey7">{{doctor_name}}</div>
                    <div class="f14 pad-t-7 qy-grey6">{{dept_name}}</div>
                    <div class="f14 qy-grey6">{{hos_name}}</div>
                </div>
            </div>
            <div class="transform triangle-css3"></div>
            <div class="qy-bg-grey2 mar-b-14 mar-t-14 bor-ra-10 pad-d-13">
                <div class="pad-lr-14">
                    <div class="pad-t-12 f12 qy-grey6">{{doctor_name}}医生给您留言</div>
                    <div class="pad-t-7 f14 qy-grey7">
                        请填写您的基本信息，以便医生了解您的就医资料后提供更加准确的建议，信息仅医生本人可见。
                    </div>
                </div>
            </div>
        </div>
        <div class="qy-bg-white mar-t-10">
            <div class="item item-input item_padding_0">
                <span class="f14 fixed_width1">姓名：</span>
                <input type="text" class="phone_input"
                       ng-model="patientInfo.patientName"
                       ng-readonly="patientInfo.patientNameReadonly"
                       placeholder="请输入您的真实姓名">
            </div>
            <div class="item item-input item_padding_0 border-none">
                <span class="f14 fixed_width1">身份证号：</span>
                <input type="text" class="phone_input"
                       ng-readonly="patientInfo.idNoReadonly"
                       ng-model="patientInfo.idNo"placeholder="请输入您的身份证号码">
            </div>
        </div>

        <div class="pad-b-14 mar-t-20" ng-click="next()">
            <button class="button button-block button-size-l">
                <span>下一步</span>
            </button>
        </div>


    </ion-content>
</ion-view>
