<ion-view class="find_pwd_view">
    <ion-nav-bar align-title="center" class="qy-header">
        <ion-nav-back-button ></ion-nav-back-button>
        <ion-nav-title>
            <span  kyee-i18n-directive code="all:find_password.findPass" default="找回密码"></span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="find_password_content qy-bg-grey2" has-bouncing="true">
        <div class="list find_list_div qy-bg-white">
            <label class="item item-input find_pwd_lab">
                <input type="text" class="phone_input" id="findPassword.phoneNumInput" ng-disabled="userInfo.phoneNumDisabled" ng-model="userInfo.phoneNum"
                       placeholder="{{hintPhone}}">
            </label>
            <div class="item item-input-inset login_num_div find_pwd_lab">
                <label class="item-input-wrapper login_number_label">
                    <input type="text" class="" ng-model="userInfo.loginNum" placeholder="{{hintCode}}" style="padding-left: 0px;">
                </label>
                <!--Edit Begin 修改人：futian  任务号：KYEEAPPC-4398 账户认证  修改时间:2015年12月10日09:07:39-->
                <button kyee-operation-monitor-directive="getValiteCode" id="findPassword.validateMsgBtn" ng-click="getValiteCode();" ng-disabled="userInfo.validateBtnDisabled"
                        class="button button-small login_number_button"
                        kyee-i18n-directive code="all:find_password.getCode"style="width: initial;" default="获取验证码">

                </button>
                <!--Edit End-->
            </div>
            <div class="item item-input-inset button-bar div_style1 login_num_div pad-l-14" style="border-bottom: solid 1px white;">
                <input id="pwd" type="{{userInfo.pwdType}}" class="pwd_input" ng-model="userInfo.newPassword"
                       placeholder="{{hintPass}}">
                <button class="ion-ios-eye icon_btn_style eye_btn" ng-click="iconClick()" ng-class="{'qy-green':isActive,'qy-grey5':!isActive}">
                </button>
            </div>
            <div ng-if="isNeedNameCheck" class="item item-input-inset login_num_div find_pwd_lab" style="border-top: 1px solid #e7e7e7;">
                <label class="item-input-wrapper login_number_label" style="width: 100%;">
                    <input type="text" style="width:100%" ng-model="userInfo.userName" placeholder="{{userName}}" style="padding-left: 0px;">
                </label>
            </div>
        </div>
        <div class="pad-b-14">
            <button kyee-operation-monitor-directive="submit" ng-click="submit();" class="button button-full button-size-l"
                    kyee-i18n-directive code="all:find_password.submit" default=" 提交">

            </button>
        </div>
    </ion-content>
</ion-view>