.doctor_patient_relation{
  .fixed_width1{
    min-width: 70px;
    width: 70px;
  }
  .item_padding_0{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 14px;
    margin-right: 14px;
  }
  .submit_button{
    background: #f4f4f4 !important;
    min-width: 88px !important;
    min-height: 28px !important;
    line-height: 28px !important;
  }
  .pad_button{
    padding-top: 13px;
  }
  .border_none{
    border-bottom: none !important;
  }
  .message_div{
    line-height: 18px !important;
    padding-top: 7px !important;
    margin-bottom: 17px !important;
  }
  .message_i{
    position: relative;
    top: 1px;
    margin-right: 5px;
  }
  .empty-text{
    padding-top: 40% !important;
  }
  .msg_button{
    min-height: 32px;
    border-radius: 2px;
    border: none;
    position: absolute;
    right: 0px;
    line-height: 32px;
    font-family: "Microsoft YaHei";
  }
  .position_r{
    position: relative;
  }
  .pad-l-12{
    padding-left:12px;
  }
  .head_img{
    height:70px;
    border-radius:35px;
  }
  .pad-t-7{
    padding-top: 7px;
  }
  .pad-t-6{
    padding-top: 6px;
  }
  .pad-t-12{
    padding-top:12px;
  }
  .mar-t-14{
    margin-top:14px;
  }
  .bor-ra-10{
    border-radius: 10px;
  }
  .pad-d-13{
    padding-bottom:13px;
  }
  .border-none{
    border:none;
  }
  .triangle-css3{
    background-color: #f4f4f4;
    width: 15px;
    height: 15px;
    margin-bottom: -22px;
    margin-top: 14px;
    margin-left: 41px;
  }
  .transform {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  .chooseItem{
    position: absolute;
    padding-left: -4px;
    margin-left: -24px;
    margin-top: 3px;
  }
  .grey_bg_btn{
    background-color: #d9d9d9 !important;
    border: none;
  }
}
.dept_patient_relation{
  .no_border{
    border-bottom: none;
  }
  .fixed_width1{
    min-width: 70px;
    width: 70px;
  }
  .item-color{
    color: #264557;
  }
  .item_padding_0{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 14px;
    margin-right: 14px;
  }
  .phone_input{
    font-size: 14px !important;
    color: #333 !important;
  }
  .submit_button{
    background: #f4f4f4 !important;
    min-width: 88px !important;
    min-height: 28px !important;
    line-height: 28px !important;
  }
  .pad_button{
    padding-top: 13px;
  }
  .border_none{
    border-bottom: none !important;
  }
  .message_div{
    line-height: 18px !important;
    padding-top: 7px !important;
    margin-bottom: 17px !important;
  }
  .message_i{
    position: relative;
    top: 1px;
    margin-right: 5px;
  }
  .empty-text{
    padding-top: 40% !important;
  }
  .msg_button{
    min-height: 32px;
    border-radius: 2px;
    border: none;
    position: absolute;
    right: 0px;
    line-height: 32px;
    font-family: "Microsoft YaHei";
  }
  .position_r{
    position: relative;
  }
  .select_child_age {
    width: 65% !important;
    padding-left: 0px !important;
    background-color: #ffffff !important;
    color: #222222 !important;
    border: none !important;
    height: 30px !important;
    line-height: 30px !important;
  }
  .select_child_age_icon {
    right: 14px !important;
    position: absolute !important;
    font-size: 20px !important;
    top: 14px;
  }
  .yes-or-no {
    width: 100px;
    display: -webkit-box;
  }
  .zx_font_size {
    font-size: 14px !important;
  }
  .zx_padding_left{
    padding-left: 8px !important;
  }
  .font_right {
    text-align: right;
  }
  .font_grey {
    color:#B5B5B5 !important;
  }
  .font_black {
    color:black !important;
  }
}