<ion-view class="qy_shownotice">
    <ion-content padding="true" scrollbar-y="false" has-bouncing="true">
        <div class="row border-d pad-td-10 mar-t-10" style="padding-top: 10px;padding-right: 14px;" ng-repeat="x in data">
            <div class="col col-15 pad-d-10">
                <span class="icon icon-loudspeaker2 qy-bg-orange qy-fff lond_icon"></span>
            </div>
            <ul class="col">
                <li class="row">
                    <span class="col f14 fw-b">{{x.MESSAGE_TITLE}}</span>
                    <span style="padding-left: 14px;" ng-if="x.MESSAGE_ID!=0" class="col col-10 icon-trash"
                          ng-click="delNotice(x.MESSAGE_ID)"></span>
                </li>
                <li class="row" style="padding-top: 5px;" id="{{x.MESSAGE_ID}}"
                    ng-click="noticeLookMore(x.MESSAGE_ID, x.URL_FLAG)">
                    <div ng-bind-html="x.MESSAGE_DESCRIPTION|kyee_to_html"></div>
                </li>
                <li class="row" style="padding-top: 5px;" ng-if="x.MESSAGE_ID!=0">
                    <span class="col">{{x.CREATE_DATE}}</span>
                    <span class="col col-30 qy_detail_green ta-r" ng-if="x.URL_FLAG"
                          ng-click="noticeLookMore(x.MESSAGE_ID, x.URL_FLAG)">{{x.URL_TEXT}}</span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
