.qy_doctor_home{
  margin-top: -2px !important;

  .list{
    border-top: 1px solid #efefef;
    margin-top: 10px;
  }
  .qy-iconlist{
    padding-left: 14px;
    margin-left: 0;

    img{
      width: 11%;
      padding-top: 17px;
      float: left;
    }
  }

}


.qy_doctor_center{

  .center_item{
    padding: 14px;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
  }

  .btn_logout{
    padding-top: 50px;
  }

  .f32{
    font-size: 32px;
  }
}