<div class="choose-pic-method-cls">
    <div class="row" style="width: 280px;margin-top: 1.2em;" >
        <div style="width:50%;text-align:center;">
            <img ng-click="goToCamera()" src="resource/images/center/camera_back.png" style="width:80%;">
        </div>
        <div style="width:50%;text-align:center;">
            <img ng-click="goToAlbum()" src="resource/images/center/ablum.png" style="width:80%;">
        </div>
    </div>
    <div class="row">
        <div style="width:50%;text-align:center;color:rgb(15,157, 88);">
            拍一张
        </div>
        <div style="width:50%;text-align:center;color:rgb(15,157, 88);">
            从相册选择
        </div>
    </div>
</div>
