.qy_care_me{
  .content-div{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }

  .patient-item{
    padding: inherit;
    border-right: 0;
    border-left: 0;
    padding-top: 10px;
  }

  .name-col{
    padding-left: 0;
  }

  .heat-div{
    padding-left:0;
    padding-right:0;
    color: #49a069;
    text-align: end;
  }
}