.qy_evaluation_record{
  .item_padding{
    padding: 5px;
  }
  .white_space{
    white-space: normal;
  }
  .star_img{
    width: 20px;
  }
  .name{
    position: absolute;
    right: 18%;
    min-width: 5em;
    text-align: right;
  }
}