<div class="f12">
    <div class="pad-t-20">{{ageLimit}}</div>
    <div>
        <span kyee-i18n-directive code="youCanResolvedByThisWay" default="您可按照以下方式解决，"></span>
        <a class="qy_age_limit" ng-click="changepatient()">
            <span kyee-i18n-directive code="addPatients" default="添加就诊者"></span>
        </a>
        <span kyee-i18n-directive code="inputPatientInformation" default="→填写满足年龄要求的患者信息→切换就诊者→进行预约挂号"></span>
    </div>
    <div class="mar-t-5">
        <span kyee-i18n-directive code="childInformationNotice" default="注：儿童身份证信息可以在户口本中查看获得"></span>

    </div>
</div>