/**
* add by wyn 20160722
*/
.line144 {
  height: 144px;
  line-height: 144px;
}

.line100 {
  height: 100px;
  line-height: 100px;
}

.line85 {
  height: 85px;
  line-height: 85px;
}

.line80 {
  height: 80px;
  line-height: 80px;
}

.line70 {
  height: 70px;
  line-height: 70px;
}

.line60 {
  height: 60px;
  line-height: 60px;
}

.line50 {
  height: 50px;
  line-height: 50px;
}

.line45 {
  height: 45px;
  line-height: 45px;
}

.line40 {
  height: 40px;
  line-height: 40px;
}

.line35 {
  height: 35px;
  line-height: 35px;
}

.line34 {
  height: 34px;
  line-height: 34px;
}

.line32 {
  height: 32px;
  line-height: 32px;
}

.line30 {
  height: 30px;
  line-height: 30px;
}

.line25 {
  height: 25px;
  line-height: 25px;
}

.line20 {
  height: 20px;
  line-height: 20px;
}

.line18 {
  height: 18px;
  line-height: 18px;
}

.line16 {
  height: 16px;
  line-height: 16px;
}

.line12 {
  height: 12px;
  line-height: 12px;
}

.line_h70 {
  height: 70px;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w80 {
  width: 80%;
}

.w75 {
  width: 75%;
}

.w70 {
  width: 70%;
}
.w50{
  width: 50%;
}
.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.w15 {
  width: 15%;
}

.w10 {
  width: 10%;
}

.h25{
  height: 25px;
}

.width50 {
  width: 50px;
}

.max-w80 {
  max-width: 80%;
}

.max-w70 {
  max-width: 70%;
}

.max-w65 {
  max-width: 65%;
}

.max-w60 {
  max-width: 60%;
}

.max-w50 {
  max-width: 50%;
}

.max-w40 {
  max-width: 40%;
}

.max-w30 {
  max-width: 30%;
}

.max-w25 {
  max-width: 25%;
}

.max-w20 {
  max-width: 20%;
}

.min-w20 {
  min-width: 20%;
}

.min-w200px {
  min-width: 200px;
}

.mar-t-8{
  margin-top: 8px;
}

.mat-t-80 {
  margin-top: 80px;
}

.mar-t-13 {
  margin-top: 13px;
}

.mar-t-26 {
  margin-top: 26px;
}

.mar-lr-11 {
  margin-left: 11px;
  margin-right: 11px;
}

.mar-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mar-tb-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mar-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mar-tb-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mar-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mar-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.pad-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pad-b-3 {
  padding-bottom: 3px;
}

.pad-b-12 {
  padding-bottom: 12px;
}

.pad-b-16 {
  padding-bottom: 16px;
}

.pad-l-4 {
  padding-left: 4px;
}

.pad-l-8 {
  padding-left: 8px;
}

.pad-l-12 {
  padding-left: 12px;
}

.pad-l-16 {
  padding-left: 16px;
}
.pad-r-16{
  padding-right: 16px;
}

.pad-r-12 {
  padding-right: 12px;
}

.pad-t-4 {
  padding-top: 4px;
}

.pad-t-12 {
  padding-top: 12px;
}

.pad-t-16 {
  padding-top: 16px;
}

.pad-t-25 {
  padding-top: 25px;
}
.pad-t-30 {
  padding-top: 30px;
}
.pad-tb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pad-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-tb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pad-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-lr-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.pad-lr-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.mar-l-4 {
  margin-left: 4px;
}

.mar-l-6 {
  margin-left: 6px;
}

.mar-l-12 {
  margin-left: 12px;
}

.mar-l-40 {
  margin-left: 40px;
}

.mar-r-40 {
  margin-right: 40px;
}

.mar-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mar-all-10 {
  margin: 10px;
}

.border-all {
  border: 1px solid #e7e7e7;
}

.border-all-green {
  border: 1px solid #5baa8a;
}

.border_radius_5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.border_radius_4 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.border_radius_2 {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.border-radius-5 {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.border-none {
  border: none;
}

.clear:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clear {
  zoom: 1;
}

.text-c {
  text-align: center;
}

.qy-color {
  color: #5baa8a !important;
}

.qy-bg-header {
  background-color: #F1F5FA;
}

.border-b {
  border-bottom: 1px solid #e7e7e7;
}

.position-a {
  position: absolute;
}

.position-r {
  position: relative;
}

.display-block {
  display: block;
}

.display-inline-b {
  display: inline-block !important;
}

.right0 {
  right: 0;
}

.r14 {
  right: 14px;
}

.r35 {
  right: 35px;
}

.r40 {
  right: 40px;
}

.left55 {
  left: 55px;
}

.left50 {
  left: 50px;
}

.top12 {
  top: 12px !important;
}

.bottom12 {
  bottom: 12px;
}

.font20 {
  font-size: 20px;
}

.font22 {
  font-size: 22px;
}

.font25 {
  font-size: 25px;
}

.font26 {
  font-size: 26px;
}

.font30 {
  font-size: 30px;
}

.font32 {
  font-size: 32px;
}

.font40 {
  font-size: 40px;
}

.font50 {
  font-size: 50px;
}

.vertical_align_m {
  vertical-align: middle;
}

.align_items_c {
  align-items:center;
}

.color_3 {
  color: #333 !important;
}

.color_6 {
  color: #666 !important;
}

.color_9 {
  color: #999 !important;
}

.color_orange {
  color: #e9a63b;
}

.color_orange_ff9900{
  color: #ff9900;
}

.bg_color_orange {
  background-color: #e9a63b;
}

.color-blue {
  color: #3598DB;
}

.bg-color-blue {
  background-color: #3598DB;
}

.bg-color-red {
  background-color: #f55440 !important;
}

.bg-color-light-pink{
  background-color:#fff7eb;
}

.bg_color_green {
  background-color: #53ad55;
}

.border-red {
  border-color: #f55440;
}

.bg-color-red.activated, .bg-color-red.active {
  background-color: #f55440;
  box-shadow: none;
  border-color: #f55440;
  opacity: .8;
}

.color-red {
  color: #f55440;
}

.bg-label-red {
  background-color: #f2784b;
}

.bg-label-blue {
  background-color: #0caaf3;
}
.bg-color-middle-gray{
  background: #d8d8d8;
}
.color-f9{
  color:#f9f9f9;
}
.color-9{
  color: #999999;
}
.color-f{
  color: #FFFFFF;
}
.groupLabel {
  color: #fff;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  margin: 7px 0;
  display: inline-block;
  padding: 0 3px;
}

.color_man {
  color: #0caaf3;
}

.color_woman {
  color: #ff808d;
}

.chat_sender_bg {
  background-color: #d2eddc;
}

.display-flex {
  display: -webkit-flex;
  display: flex;
}

body, input {
  color: #333 !important;
  font-size: 14px !important;
}

.item {
  color: #333 !important;
}

.groupIndex {
  font-family: Arial;
}

.break-all{
  word-break: break-all;
}

.emoji_cursor{
  cursor:pointer;
}

.compatibility{
  -webkit-user-select:text;
}
.qy_attending_doctor{
  .h50{
    height: 50px;
    line-height: 50px;
  }
  .height20{
    height: 20px;
    line-height: 20px;
  }
  .choose{
    font-size:17px;
    margin-top: -7px;
  }
  .pad-t-9{
    padding-top: 9px;
  }
  .pad_b_40{
    padding-bottom: 40px;
  }
  .h60{
    height: 60px;
  }
  .h_40{
    height: 40px;
    line-height: 40px;
  }
  .w_5{
    width: 5px;
  }
  .flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    align-content: flex-start;
  }
  .doctor_card{
    border-radius: 2px;
    min-width: 110px;
    min-height: 136px;
  }
  .mar_t_40{
    margin-top: 34px;
  }
  .pad_t_40_b_30{
    padding-top: 37px;
    padding-bottom: 30px;
  }
  .border-all{
    border-left: 1px solid #e7e7e7;;
    border-right: 1px solid #e7e7e7;;
    border-bottom: 1px solid #e7e7e7;;
    border-top: 1px solid #e7e7e7;
    border-radius: 2px;
  }
  .border-all-g{
    border-left: 1px solid rgba(91,170,138,0.5) !important;
    border-right: 1px solid rgba(91,170,138,0.5) !important;
    border-bottom: 1px solid rgba(91,170,138,0.5) !important;
    border-top: 1px solid rgba(91,170,138,0.5) !important;
    background-color: #f2fffa !important;
    border-radius: 2px;
  }
  .pad_t_2{
    padding-top: 2px;
  }
  .mar_l_30{
    margin-left: 30px !important;
  }
  .right_m{
    margin-left: 15px !important;
    margin: auto;
    padding-left: inherit;
  }
  .mar_l_40{
    margin-left: 40px !important;
  }
  .left_m{
    margin-right: 10px;
    margin-left: auto;
  }
  .mar_t_14{
    margin-top: 14px;
  }
  .mar_l{
    margin-left: auto;
  }
  .mar_r{
    margin-right: auto;
    margin-left: 46px;
  }
  .pad_b_20{
    padding-bottom: 20px;
  }
  .mar_t_20{
    margin-top: 20px;
  }
  .mar_t_20_i{
    margin-top: 20px !important;
  }
  .empty-text{
    padding-top: 30%;
  }

  .title-1{
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
  }
  .flex-wrap{
    -webkit-flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .dept_name {
    display: inline-flex;
  }
  .doctor_img{
    width: 50px;
    height:50px;
    border-radius: 40px;
  }
  .logo{
    height: 20px;
    width: 20px;
  }
  .pad_b_6{
    padding-bottom: 6px;
  }
  .pad_b_12{
    padding-bottom: 12px;
  }
}
.message_header {
  .bar .button.button-clear .ion-android-arrow-back:before {
    font-size: 20px;
    color: #666 !important;
    padding: 0 7px;
  }
  .nav-bar-title {
    font-size: 18px;
    color: #333 !important;
  }
}

.qy_message_main {
  .message_header {
    img.user_image {
      width: 28px;
      height: 28px;
      margin: 8px 14px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .buttons-right {
      position: absolute;
      top: 12px;
      right: 14px;
      bottom: 12px;
    }
    .title-center {
      -webkit-transform: translate3d(0px, 0px, 0px) !important;
      -moz-transform: translate3d(0px, 0px, 0px) !important;
      -ms-transform: translate3d(0px, 0px, 0px) !important;
      -o-transform: translate3d(0px, 0px, 0px) !important;
      transform: translate3d(0px, 0px, 0px) !important;
      left: 72px !important;
      right: 72px !important;
    }
    span.menuTab {
      padding: 0 6px;
    }
    span.on {
      border-bottom: 2px solid #5baa8a;
      color: #5baa8a;
    }
  }

  .icon-add-friend {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .message_content {
    .item-content {
      padding: 0;
      margin-left: 14px;
      height: 70px;
    }
    .message_center {
      padding: 0;
      height: 70px;
      .left64 {
        left: 64px;
      }
    }
    .remind_img {
      width: 50px;
      height: 50px;
      background-color: #f55440;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .remind_img2 {
      width: 50px;
      height: 50px;
      background-color: #f5bc40;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .group_img {
      width: 50px;
      height: 70px;
      .group_logo {
        width: 50px;
        height: 50px;
        margin: 10px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    .group_detail {
      margin: 10px 14px;
      .label {
        padding: 0 3px;
      }
      .unreadMsgCount {
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin: 3px 0 3px 5px;
      }
      .is_notice {
        margin-left: 8px;
      }
      .group_info_bottom {
        .right_0 {
          right: 0;
        }
        .left_0 {
          left: 0;
        }
        .icon-exclamation-mark {
          float: left;
          margin: 4px 2px 4px 0;
          width: 12px;
          height: 12px;
        }
        .message_text {
          display: inline-block;
          height: 20px;
          line-height: 20px;
          .emoji_msg {
            width: 20px;
            height: 20px;
            vertical-align: bottom;
          }
          .rabbit_msg {
            height: 60px;
            vertical-align: bottom;
          }
        }
        .notice_yes {
          width: 20px;
          height: 20px;
        }
        .loading_img {
          float: left;
          width: 10px;
          margin: 9px 2px 8px 0;
        }
      }
    }
    .msg_silde {
      margin-right: -14px;
      .msg_left_silde {
        border-left: 2px solid #5baa8a;
        margin-left: -14px;
      }
    }
  }
  .right_menu {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999999;
    .menu_over_bg {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.3;
    }
    .menu_list {
      position: absolute;
      right: 5px;
      top: 38px;
      width: 124px;
    }
  }

  .indexed_show_word {
    position: absolute;
    right: 40px;
    background-color: black;
    padding: 12px;
    border-radius: 10px;
    font-size: 30px;
    z-index: 9999;
    opacity: 0.5;
  }

  .indexed_words_list {
    position: absolute;
    top: 105px;
    right: 0;
    width: 20px;
    z-index: 9999;
    .indexed_words_list_word {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
  }
}

.qy_personal_setting {
  .set_item_new {
    position: absolute;
    right: 14px;
  }
  .personal_setup {
    .item {
      font-size: 14px;
    }
    .row:last-child {
      .item {
        border-bottom: none;
      }
    }
    img {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .nickName {
      top: 0;
      right: 30px;
      padding-right: 10px;
    }
  }
  .line_36 {
    height: 36px;
    line-height: 36px;
  }
}

.qy_conversation {

  .consult_right{
    min-width: 5em;
    position: absolute;
    right: 0;
  }
  .bar .buttons-right {
    top: 0;
    bottom: 0;
    width: 50px;
    height: 43px;
    line-height: 43px;
    text-align: right;
    right: 14px;
    .groupFlag {
      right: 0;
      font-size: 20px;
      margin: 12px 0;
    }
  }
  .group_tips {
    .recommend_img {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      .icon-favorite {
        top: 4px;
        right: 4px;
      }
    }
    .group_logo {
      img {
        width: 34px;
        height: 34px;
        margin: 8px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    .label {
      padding: 0 3px;
    }
    .notice_prompt {
      padding: 0 10px;
      border-radius: 2px;
      display: inline-block;
    }
    .group_add_btn {
      right: 0;
      margin: 10px 0;
      padding: 0 10px;
    }
  }
  .user_icon {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .send_img {
    right: 0;
    width: 40px;
    height: 40px;
  }
  .send_content {
    margin-right: 54px;
    .text_msg {
      padding: 9px 8px;
      max-width: 100%;
    }
    .questionnaire_survey_msg {

      //padding: 9px 8px 4px;
      //width: 200px;
      padding: 9px 8px 4px;
      width:200px;
    }


    .margin_box_left{

      //margin-left:-20px;
    }
    .arrow_right {
      width: 0;
      height: 0;
      border-width: 7px 0 7px 7px;
      border-style: solid;
      border-color: transparent transparent transparent #5baa8a;
      top: 12px;
      position: absolute;
      right: -6px;
      span {
        display: block;
        width: 0;
        height: 0;
        border-width: 8px 0 8px 8px;
        border-style: solid;
        border-color: transparent transparent transparent #d2eddc;
        position: absolute;
        top: -8px;
        left: -9px;
      }
    }
    .arrow_right_ScRecord{
      width: 0;
      height: 0;
      border-width: 7px 0 7px 7px;
      border-style: solid;
      border-color: transparent transparent transparent #e7e7e7 ;
      top: 12px;
      position: absolute;
      right: -6px;
      span {
        display: block;
        width: 0;
        height: 0;
        border-width: 8px 0 8px 8px;
        border-style: solid;
        border-color: transparent transparent transparent #fff ;
        position: absolute;
        top: -8px;
        left: -9px;
      }
    }
    .message_menu {
      top: -40px;
      right: -7px;
      .menu_arrow_down {
        width: 0;
        height: 0;
        border-width: 7px 7px 0 7px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
        top: 30px;
        position: absolute;
        right: 33px;
        span {
          display: block;
          width: 0;
          height: 0;
          border-width: 8px 8px 0 8px;
          border-style: solid;
          border-color: #333 transparent transparent transparent;
          position: absolute;
          top: -8px;
          left: -9px;
        }
      }
    }
    .voice_gif{
      .circle3 {
        position: absolute;
        right: 6px;
        top: 0;
        width: 7px;
        height: 20px;
        border: 2px solid #5baa8a;
        border-radius: 100% 0 0 100%/50%;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
      .circle2 {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 5px;
        height: 14px;
        border: 2px solid #5baa8a;
        border-radius: 100% 0 0 100%/60%;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
      .circle1 {
        position: absolute;
        right: 0;
        top: 7px;
        width: 1px;
        height: 6px;
        border: 2px solid #5baa8a;
        border-radius: 100% 100% 100% 100%/50%;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
    }

  }
  .receive_img {
    left: 0;
    width: 40px;
    height: 40px;
  }
  .receive_content {
    margin-left: 54px;
    .text_msg {
      padding: 9px 8px;
      max-width: 100%;
    }
    .questionnaire_survey_msg {
      padding: 9px 8px 4px;
      width: 200px;
    }
    .arrow_left {
      width: 0;
      height: 0;
      border-width: 7px 7px 7px 0;
      border-style: solid;
      border-color: transparent #e7e7e7 transparent transparent;
      top: 32px;
      left: -7px;
      position: absolute;
      span {
        display: block;
        width: 0;
        height: 0;
        border-width: 8px 8px 8px 0;
        border-style: solid;
        border-color: transparent #fff transparent transparent;
        position: absolute;
        top: -8px;
        left: 1px;
      }
    }
    .message_menu {
      top: -40px;
      left: -7px;
      .menu_arrow_down {
        width: 0;
        height: 0;
        border-width: 7px 7px 0 7px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
        top: 30px;
        position: absolute;
        left: 15px;
        span {
          display: block;
          width: 0;
          height: 0;
          border-width: 8px 8px 0 8px;
          border-style: solid;
          border-color: #333 transparent transparent transparent;
          position: absolute;
          top: -8px;
          left: -9px;
        }
      }
    }
    .voice_gif{
      .circle3 {
        position: absolute;
        left: 6px;
        top: 0;
        width: 7px;
        height: 20px;
        border: 2px solid #999;
        border-radius: 0 100% 100% 0/50%;
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
      .circle2 {
        position: absolute;
        left: 3px;
        top: 3px;
        width: 5px;
        height: 14px;
        border: 2px solid #999;
        border-radius: 0 100% 100% 0/50%;
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
      .circle1 {
        position: absolute;
        left: -1px;
        top: 7px;
        width: 1px;
        height: 6px;
        border: 2px solid #999;
        border-radius: 100% 100% 100% 100%/50%;
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
    }
    .unread_state{
      position: absolute;
      top: 14px;
      right: -16px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #ff4400;
    }
  }

  .input_text {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    font-size: 16px;
  }
  .emoji_block {
    overflow: auto;
  }
  .clear_icon {
    bottom: 10px;
    display: inline-block;
  }
  .send_button {
    border-radius: 5px;
    border: 1px solid #5ba88a;
    padding: 0 6px;
    bottom: 12px;
  }
  .emoji_img {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
  }
  .rabbit_msg {
    height: 60px;
    vertical-align: bottom;
  }
  .emoji_msg {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
  }
  .emoji_last_bottom {
    padding-bottom: 0px !important;
  }
 /* .footer_div {
    position: absolute;
    bottom: 0;
    min-height: 56px;
    overflow: hidden;
  }*/
  .inputEleBottom {
    bottom: 155px !important;
  }
  .footer_ele_bottom {
    bottom: 10px;
  }
  .send_input {
    height:32px;
    resize: none;
    left: 56px;
    max-height: 80px;
    line-height: 1.3;
    outline: 0;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: visible;
    border-bottom: 1px solid #5baa8a;
    -webkit-user-select: text;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    border-radius: 0;
  }
  .resend_icon {
    left: -28px;
    top: 10px;
  }
  .load_img {
    left: -38px;
    top: 10px;
    img {
      width: 30px;
    }
  }
  .search_icon_wh {
    width: 20px;
    height: 20px;
  }

  .footer_div {
    position: absolute;
    bottom: 0;
    min-height: 56px;
    overflow: hidden;
    padding: 0;
    .left_14 {
      left: 14px;
    }
    .icon-smilies {
      right: 46px;
      margin-right: 14px;
    }
    .chat_module_Icon {
      border: 1px solid #5baa8a;
      border-radius: 5px;
      padding: 10px;
    }
    .voice_block{
      left: 56px;
      bottom: 12px;
      right:102px;
      height: 32px;
      border: 1px solid #5baa8a;
      border-radius: 4px;
      user-select:none;
      -webkit-user-select:none;
      padding: 6px 0;
    }
  }
  .pic_wh {
    min-width: 20px;
    min-height: 20px;
    max-width: 100px;
    max-height: 100px;
    display: block;
  }
  .pic_wh_load_fail {
    width: 52px;
    height: 69px;
    display: block;
  }
  .show_big_pic > div {
    background-color: #000 !important;
    opacity: 1 !important;
  }
  .footer_input {
    padding: 10px 5px;
    bottom: 9px;
    position: absolute;
  }
  .footerEleBottom {
    bottom: 155px !important;
  }
  .bottom0 {
    bottom: 0;
  }
  .slider-pager {
    bottom: 10px;
    right: 14px;
    .slider-pager-page {
      color: #999;
      font-size: 10px;
    }
  }
  .icon-delete {
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .qy_send_msg, .qy_receive_msg {
    min-height: 40px;
    .audio_msg{
      min-width: 30px;
      height: 20px;
      max-width: 170px;
    }

    @keyframes voice_play_animation_2
    {
      0%   {opacity: 0;}
      40%  {opacity: 0;}
      50%  {opacity: 1;}
      100% {opacity: 1;}
    }

    @-webkit-keyframes voice_play_animation_2
    {
      0%   {opacity: 0;}
      40%  {opacity: 0;}
      50%   {opacity: 1;}
      100% {opacity: 1;}
    }

    @keyframes voice_play_animation_3
    {
      0%   {opacity: 0;}
      70%   {opacity: 0;}
      80%   {opacity: 1;}
      100% {opacity: 1;}
    }

    @-webkit-keyframes voice_play_animation_3
    {
      0%   {opacity: 0;}
      70%   {opacity: 0;}
      80%   {opacity: 1;}
      100% {opacity: 1;}
    }
    .voice_play .circle2{
      animation:voice_play_animation_2 1s linear infinite;
      -webkit-animation:voice_play_animation_2 1s linear infinite;
    }
    .voice_play .circle3{
      animation:voice_play_animation_3 1s linear infinite;
      -webkit-animation:voice_play_animation_3 1s linear infinite;
    }
  }

  .refresher-icon {
    background: url('../../resource/images/patients_group/shuaxin.gif') no-repeat 50%;
    background-size: 20px;
  }
  a.text_href.activated, a.text_href.active {
    background-color: #5baa8a !important;
    opacity: 0.5;
  }
  .message_menu {
    .menu_tab_item {
      width: 60px;
      height: 30px;
      line-height: 30px;
    }
  }
  .questionnaire_survey_img {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .clock_box{
    line-height: 44px;
    background-color: #fff7eb;
  }
  .bar-subheader{
    height: 44px;
  }
  .has-subheader{
    top: 84px;
  }
  .has-subheader.is_ios{
    top: 104px;
  }

  .consult_again{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .consult_im{

    //padding-left: 10px;
    //padding-right: 10px;
    //padding-top: 9px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    .patient_consult_icon{
      -webkit-flex: 0 0 40px;
      -moz-flex: 0 0 40px;
      -ms-flex: 0 0 40px;
      -o-flex: 0 0 40px;
      flex: 0 0 40px;
      font-size: 26px;
      height: 40px;
      border-radius: 4px;
      line-height: 40px;
      background-color: #27bb8f;
    }
    .bind_html{
      -webkit-flex: 0 1 auto;
      -moz-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      -o-flex: 0 1 auto;
      flex: 0 1 auto;
      overflow: hidden;
    }
    
    .disease_desc{
      max-height: 32px;
      overflow: hidden;
      margin: 10px 0;
      line-height: 16px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .show_detail{
      height: 36px;
      box-sizing: border-box;
      padding-top: 10px;
      i{
        right: 0;
        top: 0;
        line-height: 40px;
      }
      
    }
  }
  .pop_voice_modal{
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 56px;
    left: 0;
    overflow: hidden;
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -1px;
    width: auto;
    height: auto;
    z-index: 100;
    .voice_record_block_bg{
      width: 150px;
      height: 150px;
      background-color: #000;
      opacity: 0.5;
      top: 50%;
      margin-top: -75px;
      left: 50%;
      margin-left: -75px;
      border-radius: 8px;
      //padding: 10px 28px 0 28px;
    }
    .voice_record_block{
      width: 150px;
      height: 150px;
      background-color: transparent;
      top: 50%;
      margin-top: -75px;
      left: 50%;
      margin-left: -75px;
      border-radius: 8px;
      //padding: 10px 28px 0 28px;
      z-index: 10;
      .record_gif_block {
        //height: 150px;
        .record_gif{
          border-right: 2px solid transparent;
          border-top: 4px solid #FFFFFF;
          opacity: 0;
        }
        .record_gif_trapezoid4 {
          width: 26px;
        }
        .record_gif_trapezoid3 {
          width: 24px;
        }
        .record_gif_trapezoid2 {
          width: 22px;
        }
        .record_gif_trapezoid1 {
          width: 20px;
        }
        .record_gif_trapezoid0 {
          width: 18px;
          opacity: 1;
        }
      }

      .icon-record{
        left: 23px;
        top: 34px;
      }
      .icon-record,.icon-revocation,.icon-tip{
        font-size: 60px;
      }
      .gif_animation{
        top: 34px;
        right: 35px;
      }

      @keyframes voice_animation_1
      {
        0%  {opacity: 0;}
        40% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 1;}
      }

      @-webkit-keyframes voice_animation_1
      {
        0%  {opacity: 0;}
        40% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 1;}
      }

      @keyframes voice_animation_2
      {
        0%  {opacity: 0;}
        50% {opacity: 0;}
        60% {opacity: 1;}
        100% {opacity: 1;}
      }
      @-webkit-keyframes voice_animation_2
      {
        0%  {opacity: 0;}
        50% {opacity: 0;}
        60% {opacity: 1;}
        100% {opacity: 1;}
      }

      @keyframes voice_animation_3
      {
        0%  {opacity: 0;}
        60% {opacity: 0;}
        70% {opacity: 1;}
        100% {opacity: 1;}
      }
      @-webkit-keyframes voice_animation_3
      {
        0%  {opacity: 0;}
        60% {opacity: 0;}
        70% {opacity: 1;}
        100% {opacity: 1;}

      }

      @keyframes voice_animation_4
      {
        0%  {opacity: 0;}
        70% {opacity: 0;}
        80% {opacity: 1;}
        100% {opacity: 1;}
      }
      @-webkit-keyframes voice_animation_4
      {
        0%  {opacity: 0;}
        70% {opacity: 0;}
        80% {opacity: 1;}
        100% {opacity: 1;}
      }

      @keyframes voice_animation_5
      {
        0%  {opacity: 0;}
        80% {opacity: 0;}
        90% {opacity: 1;}
        100% {opacity: 1;}
      }

      @-webkit-keyframes voice_animation_5
      {
        0%  {opacity: 0;}
        80% {opacity: 0;}
        90% {opacity: 1;}
        100% {opacity: 1;}
      }
      .gif_animation .record_gif_trapezoid1{
        animation:voice_animation_1 1s linear infinite;
        -webkit-animation:voice_animation_1 1s linear infinite;
      }
      .gif_animation .record_gif_trapezoid2{
        animation:voice_animation_2 1s linear infinite;
        -webkit-animation:voice_animation_2 1s linear infinite;
      }
      .gif_animation .record_gif_trapezoid3{
        animation:voice_animation_3 1s linear infinite;
        -webkit-animation:voice_animation_3 1s linear infinite;
      }
      .gif_animation .record_gif_trapezoid4{
        animation:voice_animation_4 1s linear infinite;
        -webkit-animation:voice_animation_4 1s linear infinite;
      }
      .gif_animation .record_gif_trapezoid5{
        animation:voice_animation_5 1s linear infinite;
        -webkit-animation:voice_animation_5 1s linear infinite;
      }
      .voice_tit_text{
        bottom: 15px;
        width: 100%;
      /*  position: relative;*/
      }
    }
  }

  .group_announcement{
    top: 43px;
    z-index: 10;
    width: 100%;
    height: 40px;
    padding-top: 1px;
    .announcement_label{
      left: 14px;
      width: 50px;
    }
    .announcement_text{
      left: 69px;
      right: 50px;
      span{
        left: 0;
        right: 0;
        overflow: hidden;
      }
      .announcement_scroll_active{
         animation:announcement_scroll 6s linear 0s infinite;
         -webkit-animation:announcement_scroll 6s linear 0s infinite;
      }
    }
    .delete_announcement{
      width: 40px;
      right: 4px;
    }


    @keyframes announcement_scroll{
      from{
        left:100%;
      }
      to{
        left:-50%;
      }
    }

    @-webkit-keyframes announcement_scroll{
      from{
        left: 100%;
      }
      to{
        left:-50%;
      }
    }
  }
}

.qy_new_friends {
  .buttons-right {
    top: 0 !important;
    bottom: 0 !important;
  }
  .addFriends {
    heigth: 43px;
    line-height: 43px;
  }

  .head_img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    left: 0;
    top: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .accept-btn {
    width: 54px;
    min-width: 54px;
    margin: 22px 0;
    height: 24px;
  }
  .button-color-green.activated, .button-color-green.active {
    border: 1px solid #5baa8a;
    color: #5baa8a;
    background: #eefff8;
  }
  li:last-child {
    border: none;
  }
  .friend_name {
    left: 50px;
    top: 0;
  }
}

.qy_personal_home {
  .buttons-right {
    top: 0 !important;
    bottom: 0 !important;
  }
  .personal_btn {
    heigth: 43px;
    line-height: 43px;
  }
  .title_grey {
    color: #333 !important;
  }
  .head-img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .userPosition{
    width: 60px;
  }
  .commonGroups {
    height: 130px;
    .hotelGroupLabel {
      min-width: 60px;
    }
  }
  .mar-r-14 {
    margin-right: 14px;
  }
  .mar-l-18
  {
    margin-left: 18px;
  }
  .group_item_flow{
    width: 50px;
    height: 80px;
    margin-right: 9px;
    img {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .group_item_name {
      width: 50px;
      top: 60px;
    }
  }

.wh-sp-n {
  white-space: nowrap;
}
  .dis-in-b{
    display: inline-block;
  }
  .group_item {
    width: 50px;
    height: 80px;
    margin-right: 9px;
    overflow: hidden;
    img {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .group_item_name {
      width: 50px;
      top: 60px;
    }
  }

  .show_big_pic > div {
    background-color: #000 !important;
    opacity: 1 !important;
  }

  .content_b{
    box-sizing: content-box;
  }
}

.qy_contacts_list {
  .search_container {
    input {
      width: 84%;
      padding: 7px 10px 5px 5px;
      margin-left: 35px;
    }
    .icon-seach {
      position: absolute;
      font-size: 16px;
      top: 0;
      left: 0;
      height: 34px;
      color: #999;
      border: 0;
      padding: 0 10px;
    }
    .clear_icon {
      display: inline-block;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      top: 11px;
    }
  }
  .list_menu {
    width: 34px;
    height: 34px;
    margin: 8px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    .icon-add-friend {
      font-size: 24px;
      padding: 5px;
      margin: 0;
      display: block;
    }
    .icon-group {
      font-size: 22px;
      padding: 6px;
      margin: 0;
      display: block;
    }
    .icon-doctor-fill-linkman {
      font-size: 20px;
      padding: 7px;
      margin: 0;
      display: block;
    }
  }

  .new_friend_flag {
    width: 10px;
    height: 10px;
    top: 51px;
    left: 42px;
  }
  .contacts_container {
    img {
      width: 34px;
      height: 34px;
      position: relative;
      top: 8px;
      float: left;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  li:last-child {
    border: none;
  }
}

.qy_group_list {
  .title_grey {
    color: #333 !important;
  }
  .head_img {
    position: relative;
    left: 0;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .item_info {
    position: absolute;
    display: inline-block;
    top: 15px;
    padding-left: 16px;
  }
  li:last-child {
    border: none;
  }
  .left_0 {
    left: 0;
  }
}

.qy_recommend_group {
  .title_grey {
    color: #333 !important;
  }
  .group_logo {
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }
  li:last-child {
    border: none;
  }
}

.qy_add_friends {
  .add_friends {
    height: 14px;
    line-height: 14px;
    margin: 26px 0 10px 0;
  }
  .search_container {
    input {
      width: 84%;
      padding: 7px 10px 5px 5px;
      margin-left: 35px;
    }
    .icon-seach {
      position: absolute;
      font-size: 16px;
      top: 0;
      left: 0;
      height: 34px;
      color: #999;
      border: 0;
      padding: 0 10px;
    }
    .clear_icon {
      display: inline-block;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      top: 11px;
    }
  }
  .head_img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .item_info {
    position: absolute;
    display: inline-block;
    top: 15px;
    padding-left: 16px;
  }
  .group_label {
    position: relative;
    top: -5px;
  }
  li:last-child {
    border: none;
  }
}

.qy_query_friends {
  .related_users {
    height: 14px;
    line-height: 14px;
    margin: 26px 14px 10px 14px;
  }
  .search_container {
    input {
      width: 84%;
      padding: 7px 10px 5px 5px;
      margin-left: 35px;
    }
    .icon-seach {
      position: absolute;
      font-size: 16px;
      top: 0;
      left: 0;
      height: 34px;
      color: #999;
      border: 0;
      padding: 0 10px;
    }
    .clear_icon {
      display: inline-block;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      top: 11px;
    }
  }
  .result_list {
    img {
      width: 34px;
      height: 34px;
      margin: 8px 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    li:last-child {
      border: none;
    }
  }
  .pad_b_1 {
    padding-left: 1px;
    padding-right: 1px;
  }
  .line_h56 {
    height: 56px;
  }
  .mar_t_46 {
    margin-top: 46px;
  }
  .empty-text {
    padding-top: 40%;
  }
  .pad_d_1{
    padding-bottom: 1px;
  }
  .remark_with_group{
    line-height: 16px;
    height: 17px;
    top: 6px;
  }
}

.qy_group_members {
  .search_container {
    input {
      width: 84%;
      padding: 7px 10px 5px 5px;
      margin-left: 35px;
    }
    .icon-seach {
      position: absolute;
      font-size: 16px;
      top: 0;
      left: 0;
      height: 34px;
      color: #999;
      border: 0;
      padding: 0 10px;
    }
    .clear_icon {
      display: inline-block;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      top: 11px;
    }
  }
  .head_img {
    position: relative;
    width: 34px;
    height: 34px;
    margin: 8px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .item_info {
    position: relative;
    display: inline-block;
  }
  .add-btn {
    width: 54px;
    min-width: 54px;
    margin: 12px 0;
    height: 24px;
  }
  .button-color-green.activated, .button-color-green.active {
    border: 1px solid #5baa8a;
    color: #5baa8a;
    background: #eefff8;
  }
  li:last-child {
    border: none;
  }
  .line_h56 {
    height: 56px;
  }
  .mar_t_56 {
    margin-top: 56px;
  }
  .doctor_mark {
    top: 30px;
    margin-left: -10px;
    border: 2px solid white;
    border-radius: 8px;
  }
}

.qy_choose_at_members {
  .ion-android-arrow-back:before {
    font-size: 20px;
    color: #666 !important;
    padding-top: 10px;
    padding-left: 7px;
  }
  h2 {
    font-size: 16px !important;
    color: #333 !important;
  }
  .user_icon {
    width: 34px;
    height: 34px;
    margin: 8px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .search_container {
    input {
      width: 84%;
      padding: 7px 10px 5px 5px;
      margin-left: 5px;
    }
    .clear_close {
      display: inline-block;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      top: 11px;
    }
  }
  .item_info {
    position: relative;
    display: inline-block;
  }
  li:last-child {
    border: none;
  }
  .line_h56 {
    height: 56px;
  }
  .mar_t_56 {
    margin-top: 56px;
  }
  .doctor_mark{
    top: 30px;
    margin-left: -10px;
    border: 2px solid white;
    border-radius: 8px;
  }
}

.qy_patients_report {
  .report_item + .report_item {
    margin-left: 14px;
  }
  .report_item + .report_item:last-child {
    border-bottom: none;
  }
  .report_item {
    textarea {
      resize: none;
      overflow: auto;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      -webkit-appearance: none;
    }
  }
}

.qy_group_details {
  .groupInfo {
    .group_img {
      width: 50px;
      height: 70px;
      .group_logo {
        width: 50px;
        height: 50px;
        margin: 10px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    .group_detail {
      margin: 10px 14px;
      .label {
        padding: 0 3px;
      }
    }
  }
  .groupDetails {
    .group_declared {
      line-height: 20px;
      margin: 15px 14px;
    }
    .group_member_info {
      height: 130px;
    }
    .group_item + .group_item {
      margin-left: 14px;
    }
    .group_item:last-child {
      border-bottom: none;
    }
    .group_item {
      .member_item {
        width: 50px;
        height: 80px;
        margin-right: 10px;
        img {
          width: 50px;
          height: 50px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
        .member_item_name {
          width: 50px;
          top: 60px;
        }
        .doctor_mark {
          top: 37px;
          right: 0px;
          margin-right: -5px;
          border: 2px solid white;
          border-radius: 10px;
        }
      }
      .member_item:last-child {
        margin-right: 0;
      }
    }
    .toggle input:checked + .track {
      border-color: #5baa8a;
      background-color: #5baa8a;
    }

    .item-toggle .toggle {
      position: absolute;
      top: 10px;
      right: 14px;
      z-index: 3;
    }
    .toggle-small.item-toggle .toggle {
      top: 13px;
    }
    .toggle-small .track {
      border: 0;
      width: 44px;
      height: 25px;
      border: 2px solid #ccc;
      background: #ccc;
      position: relative;
    }
    .toggle-small input:checked + .track {
      background: #5baa8a;
    }

    .toggle-small input:checked + .track .handle {
      -webkit-transform: translate3d(20px, 0, 0);
      transform: translate3d(20px, 0, 0);
      background: #fff;
      left: 0;
    }

    .toggle-small .handle {
      top: 0;
      left: 0;
      width: 21px;
      height: 21px;
      box-shadow: 0 2px 7px rgba(0, 0, 0, .35), 0 1px 1px rgba(0, 0, 0, .15);
    }
    .group_announcement{
      overflow: hidden;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
}

.qy_modify_group_card, .qy_modify_personal_name {
  .bar .buttons-right {
    top: 0;
    bottom: 0;
    width: 50px;
    height: 43px;
    line-height: 43px;
    text-align: right;
    right: 14px;
    .saveBtn {
      right: 0;
      margin: 0;
    }
  }
}

.qy_search_group_list {
  .icon_right {
    position: absolute;
    right: 14px;
    top: 19px;
  }
  .group_icon {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .search_content {
    .history_content {
      max-height: 145px;
      overflow: hidden;
    }
    .hospital_item:last-child {
      border-bottom: none;
    }
    .history_name {
      padding-top: 1px;
      padding-bottom: 1px;
      word-wrap: break-word;
      max-width: 100%;
    }
    .group_item_icon {
      width: 40px;
      height: 40px;
    }
  }
  .empty-text {
    padding-top: 35%;
  }
  .search_container {
    input {
      width: 84%;
      padding: 7px 10px 5px 5px;
      margin-left: 35px;
    }
    .icon-seach {
      position: absolute;
      font-size: 16px;
      top: 0;
      left: 0;
      height: 34px;
      color: #999;
      border: 0;
      padding: 0 10px;
    }
    .clear_icon {
      display: inline-block;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      top: 11px;
    }
  }
}

.qy_show_pictrue {
  .bg_black {
    background-color: black;
  }
}

.modify_remarks {
  textarea {
    resize: none;
    overflow: auto;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-appearance: none;
  }
}

.popup-head {
  .popup-title {
    color: #333;
  }
}

.qy_patient_group_web {
  .iframe-wrapper iframe {
    width: 100%;
    height: 100%;
  }
}

.qy_my_doctor_list {
  .buttons-right {
    top: 0 !important;
    bottom: 0 !important;
  }
  .addDoctors {
    line-height: 43px;
  }
  .search_container {
    height: 34px;
    line-height: 34px;
    input {
      width: 84%;
      margin-left: 35px;
    }
    .search_btn {
      position: absolute;
      font-size: 16px;
      top: 0;
      left: 0;
      height: 34px;
      color: #999;
      border: 0;
      padding: 0 10px;
    }
    .clear_icon {
      height: 34px;
      line-height: 34px;
    }
  }
  .head_img {
    width: 55px;
    height: 55px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .doctorList {
    li:last-child {
      border-bottom: none;
    }
    .doctor_desc {
      line-height: 20px;
      min-height: 36px;
    }
  }
  .empty-text {
    padding-top: 35%;
  }
}

.qy_my_doctor_details {
  .head-img {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .doctorInGroups {
    height: 120px;
    .group_item {
      width: 50px;
      height: 80px;
      margin-right: 9px;
      img {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      .group_item_name {
        width: 50px;
        top: 60px;
      }
    }
  }
}

.msg_select_hospital {
  .hospital_img {
    height: 40px;
    width: 40px;
    min-width: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .pad-tb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .empty-text {
    padding-top: 20%;
  }
  .noOpenHopsital {
    .hospital_img,div.color_3{
      opacity: .5;
    }
  }
  .recommendHospitalText{
    height:14px;
    line-height: 14px;
    margin:15px 14px 10px 14px;
  }
  .closedHospitalsTips {
    height: 115px;
    padding: 40px 30px 25px 30px;
    .closedHospitalsTipsText {
      height: 50px;
      line-height: 25px;
      right:30px;
    }
    .icon-hospital1{
      left:30px;
    }
  }
  .recommendHospitalUl{
    li:last-child {
      border-bottom: none;
    }
  }
}

.qy_dept_doctor_list {
  .head_img {
    width: 55px;
    height: 55px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .doctorDesc {
    line-height: 25px;
  }
}

.hospital_dept_list {
  .group_dept {
    width: 100%;
    padding: 10px 14px;
    border-left: #f4f4f4 3px solid;
  }
  .detail_dept {
    margin: 0px;
    padding: 10px 14px;
    color: black;
  }
  .selected_dept {
    border-left-color: #5baa8a;
    background-color: white;
    color: #5baa8a;
  }
}

.questionnaire_survey{
  .has_footer{
    bottom: 56px;
  }
  .question_page{
    margin: 10px 14px 20px;
    padding: 20px 14px 40px;
    border-top: 6px solid #5baa8a;
    border-radius: 4px;
    background-color: white;
    .user_icon {
      width: 40px;
      height: 40px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .patient_info{
      display: inline-block;
      margin-left:8px;
      .line_height_18{
        height: 18px;
        line-height: 18px;
      }
      .line_height_12{
        height: 12px;
        line-height: 12px
      }
    }
    .visit_info{
      padding: 20px 0px;
    }
    .questionnaires_info{
      padding: 20px 0px;
      border-top: 1px dashed #e7e7e7;
      .border_l_4{
        border-left: 4px solid #5baa8a;
      }
      .text_area{
        width: 100%;
        height: 45px;
        resize: none;
      }
      .half_circle_left{
        width: 8px;
        height: 16px;
        //border: 1px solid #e7e7e7;
        background-color: #f4f4f4;
        position: absolute;
        top: 78px;
        left: 14px;
        border-radius: 0 100% 100% 0%/50%;
        border-left: none;
      }
      .half_circle_right{
        width: 8px;
        height: 16px;
        //border: 1px solid #e7e7e7;
        background-color: #f4f4f4;
        position: absolute;
        top: 78px;
        right: 14px;
        border-radius: 100% 0 0 100%/50%;
        border-right: none;
      }
    }
  }
}

.qy_set_remark{
  .can_not_save{
    opacity: .5;
  }
  
  .button.button-clear.qy-grey7{
    color: #333;
  }
  .remark {
    top: 0;
    right: 30px;
    padding-right: 10px;
  }
}

.qy_group_search {
  .related_groups {
    height: 26px;
    line-height: 26px;
    margin: 10px 14px 10px 14px;
  }
  .search_container {
    input {
      width: 84%;
      padding: 7px 10px 5px 5px;
      margin-left: 35px;
    }
    .icon-seach {
      position: absolute;
      font-size: 16px;
      top: 0;
      left: 0;
      height: 34px;
      color: #999;
      border: 0;
      padding: 0 10px;
    }
    .clear_icon {
      display: inline-block;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      top: 11px;
    }
  }
  .title_grey {
    color: #333 !important;
  }
  .head_img {
    position: relative;
    left: 0;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .item_info {
    position: absolute;
    display: inline-block;
    top: 15px;
    padding-left: 16px;
  }
  li:last-child {
    border: none;
  }
  .left_0 {
    left: 0;
  }
  .result_list {
    img {
      width: 34px;
      height: 34px;
      margin: 8px 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    li:last-child {
      border: none;
    }
  }
  .pad_b_1 {
    padding-left: 1px;
    padding-right: 1px;
  }
  .line_h56 {
    height: 56px;
  }
  .mar_t_46 {
    margin-top: 46px;
  }
  .empty-text {
    padding-top: 40%;
  }
  .pad_d_1{
    padding-bottom: 1px;
  }
}

.qy_group_announcement{
  .no_announcement{
    margin-top: 50%;
  }

}
.questionnaire_search{
  .position-h-border{
    height: 80px;
    line-height: 80px;
    position: relative;
    border-bottom: 1px dashed #e7e7e7;
    margin:0 14px;
  }
  .position-top-20{
    position: absolute;
    top: 28px;
    font-size: 24px;
  }
  .mar-l-40{
    margin-left: 40px;
  }
  .pad-font-30{
    padding: 30px 0;
    font-size: 14px;
    color: #666666;
    line-height: 21px;
  }
  .btn-bg-fa{
    border: 1px solid #00b57e;
    color: #00b57e;
    background: #fafafa;
    margin-top: 10px;
  }
  .div_padding_0 {
    padding: 0px !important;
  }
  .w-70{
    width: 70px;
  }
  .border-b-0{
    border-bottom: 0px !important;
  }
  .icon-fz-80{
    font-size: 80px !important;
  }
  .web_frame {
    height: 100%;
    width: 100%;
  }
  .out-html{
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  .scroll{
    height: 100%;
  }
  .color-3{
    color: #333333;
  }
  .btn-bg-fad{
    border: 1px solid #5BAA8A;
    color: #5BAA8A;
    background: #fafafa;
    margin-top: 10px;
  }
}
