<!--<ion-view class="diagnostic_info" title="{{disease.diseaseName}}">-->
    <!--<ion-nav-bar class="qy-header" align-title="center">-->
        <!--<ion-nav-back-button></ion-nav-back-button>-->
        <!--<ion-nav-buttons side="right">-->
            <!--<a class="button button-clear" ng-click="openRightMenu('diseaseInfo')">-->
                <!--<i class="icon ion-navicon"></i>-->
            <!--</a>-->
        <!--</ion-nav-buttons>-->
    <!--</ion-nav-bar>-->

    <!--<ion-content has-bouncing="true" padding="false" class="pad-b-14">-->
        <!--<ion-scroll has-bouncing="true" scrollbar-y="false" zooming="false" direction="y"-->
                    <!--ng-style="{'height':(KyeeEnv.innerSize.height - height)+'px'}">-->
            <!--<div class=" pad-td-10 border-d f14">-->
                <!--<span kyee-i18n-directive code="details" default="详情"></span>-->
            <!--</div>-->
            <!--<div class="pad-t-10">-->
                <!--<ul class="list-a">-->
                    <!--<div ng-bind-html="disease.diseaseInfo|kyee_to_html"></div>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</ion-scroll>-->

    <!--</ion-content>-->

    <!--<div style="line-height: 20px;font-size: 14px;" class="bar bar-footer pad-b-14 notice " ng-if="tipsIsShow">-->
        <!--<p class="mar-td-5">-->
        <!--<span class="tips_line" kyee-i18n-directive code="tipMessage" default="以上词条由国家卫生计生委临床医生科普项目/百科名医网提供内容并参与编辑。"></span>-->
        <!--</p>-->
        <!--<div style="padding-top: 5px;" class="ion-close" ng-click="tipIsShow()"></div>-->
    <!--</div>-->

<!--</ion-view>-->

<ion-view class="diagnostic_info" title="疾病详情">
    <ion-nav-bar class="qy-header" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button button-clear" ng-click="openRightMenu('diagnosticInfo')">
                <i class="icon ion-navicon"></i>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-bouncing="true" padding="false" class="qy-bg-grey2">
        <ul style="line-height: 1.5;" ng-repeat="item in dianosticDetail" class="border-all qy-bg-white mar-t-10 pad-t-20 pad-b-10 pad-l-14 pad-r-10 list-a ">
            <div style="margin-bottom: 10px;font-size: 16px;">
                {{item.cause}}
            </div>
            <div style="font-size: 14px;color: #666;" ng-bind-html="item.liInfo|kyee_to_html">
            </div>

        </ul>
    </ion-content>>
</ion-view>