<ion-view class="blood_sugar_standard qy-bg-grey1">
    <ion-nav-bar class="qy-header" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>
            <span>血糖分析参考标准</span>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content animation="slide-left-right" scroll="true" has-bouncing="true" class="qy-bg-grey1">
        <div class="qy-bg-white mar-t-10 border_left">
            <div class=" border-td pad-l-10 height_40">
                <span class="f16">血糖分析参考标准</span>
            </div>
        </div>
        <div class=" pad-lr-14 qy-bg-white border-d">
            <div class=" pad-t-16 pad-b-16 ta-c fw-600">
                <div>
                    <span calss="f14">糖代谢状态分类</span>
                </div>
            </div>
            <table class="width_100 display-table ">
                <thead>
                    <tr >
                        <td rowspan="2" class="height100 width-40">糖代谢分类</td>
                        <td class="height_40" colspan="2">静脉血浆葡萄糖(mmol/L)</td>
                    </tr>
                    <tr>
                        <td class="width-30">空腹血糖（FPG）</td>
                        <td class="pad-l-10 ta-l">糖负荷后2小时血糖(2hPPG)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="height_40">正常血糖(NGR)</td>
                        <td><6.1</td>
                        <td><7.8</td>
                    </tr>
                    <tr>
                        <td class="height_40">空腹血糖受损(IFG)</td>
                        <td>6.1~7.0</td>
                        <td><7,8</td>
                    </tr>
                    <tr>
                        <td class="height_40">糖耐量减低(IGT)</td>
                        <td><7.0</td>
                        <td>≥7.8~11.1</td>
                    </tr>
                    <tr>
                        <td class="height_40">糖尿病(DM)</td>
                        <td>≥7.0</td>
                        <td>≥11.1</td>
                    </tr>
                </tbody>
            </table>
            <div class="pad-t-16 pad-d-20">
                <div>注：IFG或IGT统称为糖调节受损(IGR，即糖尿病前期)。</div>
            </div>
            <div class=" pad-b-16 ta-c fw-500">
                <div calss="">
                    <span>糖尿病的诊断标准</span>
                </div>
            </div>
            <table class="width_100 display-table ">
                <tbody>
                <tr>
                    <td class="width-60">诊断标准</td>
                    <td>静脉血浆葡萄糖水平(mmol/L)</td>
                </tr>
                <tr>
                    <td class="ta-l pad-l-10">典型糖尿病症状(多饮、多食、多尿、体重下降)加随机血糖监测</td>
                    <td>≥11.1</td>
                </tr>
                <tr>
                    <td class="height_40" colspan="2">或</td>
                </tr>
                <tr>
                    <td class="height_40">空腹血糖</td>
                    <td>≥7.0</td>
                </tr>
                <tr>
                    <td class="height_40" colspan="2">或</td>
                </tr>
                <tr>
                    <td class="height_40">糖负荷后两小时血糖</td>
                    <td>≥11.1</td>
                </tr>
                </tbody>
            </table>
            <div class="pad-t-16 pad-b-16">
                <div>注：空腹状态指至少8h没有进食热量；随机血糖指不考虑上次用餐时间，一天中任意时间的血糖，不能用来诊断IFG或IGT。</div>
            </div>
        </div>
        <div class="qy-bg-white mar-t-60">

        </div>
    </ion-content>

</ion-view>