<ion-view class="blood_pressure_standard qy-bg-grey1">
    <ion-nav-bar class="qy-header" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>
            <span>血压分析参考标准</span>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content animation="slide-left-right" scroll="true" has-bouncing="true" class="qy-bg-grey1">
        <div class="qy-bg-white mar-t-10 border_left">
            <div class=" border-td pad-l-10 height_40">
                <span class="f16 ">血压分析参考标准</span>
            </div>
        </div>
        <div class=" pad-lr-14 qy-bg-white border-d">
            <div class=" pad-t-16 pad-b-16 ta-c fw-600">
                <div calss="">
                    <span>血压水平定义和分类</span>
                </div>
            </div>
            <table class="width_100 display-table ">
                <thead>
                    <tr>
                        <td class="height_40 width_36">血压级别</td>
                        <td>收缩压/mmHg</td>
                        <td>舒张压/mmHg</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="height_40">低血压</td>
                        <td><90</td>
                        <td><60</td>
                    </tr>
                    <tr>
                        <td class="height_40">正常血压</td>
                        <td>90~119</td>
                        <td>60~79</td>
                    </tr>
                    <tr>
                        <td class="height_40">正常高值</td>
                        <td>120~139</td>
                        <td>80~89</td>
                    </tr>
                    <tr>
                        <td class="height_40">高血压</td>
                        <td>≥140</td>
                        <td>≥90</td>
                    </tr>
                    <tr>
                        <td class="height_40">轻度高血压</td>
                        <td>140~159</td>
                        <td>90~99</td>
                    </tr>
                    <tr>
                        <td class="height_40">中度高血压</td>
                        <td>160~179</td>
                        <td>100~109</td>
                    </tr>
                    <tr>
                        <td class="height_40">重度高血压</td>
                        <td>≥180</td>
                        <td>≥110</td>
                    </tr>
                    <tr>
                        <td class="height_60">单纯收缩期<br>高血压</td>
                        <td>≥140</td>
                        <td><90</td>
                    </tr>
                </tbody>
            </table>
            <div class="pad-t-16 pad-b-16">
                <div>注：当收缩压和舒张压分属不同等级时，以较高的分级为准。</div>
            </div>
        </div>
        <div class="qy-bg-white mar-t-60">

        </div>
    </ion-content>

</ion-view>