<ion-view class="weight_standard qy-bg-grey1">
    <ion-nav-bar class="qy-header" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>
            <span>体重分析参考标准</span>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content animation="slide-left-right" scroll="true" has-bouncing="true" class="qy-bg-grey1">
        <div class="qy-bg-white mar-t-10 border_left">
            <div class=" border-td pad-l-10 height_40">
                <span class="f16 ">体重分析参考标准</span>
            </div>
        </div>
        <div class=" pad-lr-14 qy-bg-white border-d">
            <div class=" pad-t-16 pad-b-16 ta-l ">
                <div calss="">
                    体重是反映和衡量一个人健康状况的重要标志之一。过胖和过瘦都不利于健康，也不会给人以健美感。
                    不同体型的大量统计材料表明，反映正常体重较理想和简单的指标，可用身高体重的关系来表示，即BMI指数。
                </div>
            </div>
            <table class="width_100 display-table ">
                <thead>
                    <tr>
                        <td class="width_36 height_40">体重状况</td>
                        <td>中国参考标准</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="height_40">偏瘦</td>
                        <td>BMI指数<18.5</td>
                    </tr>
                    <tr>
                        <td class="height_40">正常</td>
                        <td>18.5≤BMI指数≤23.9</td>
                    </tr>
                    <tr>
                        <td class="height_40">偏胖</td>
                        <td>23.9&#60BMI指数≤26.9</td>
                    </tr>
                    <tr>
                        <td class="height_40">肥胖</td>
                        <td>26.9&#60BMI指数≤29.9</td>
                    </tr>
                    <tr>
                        <td class="height_40">重度肥胖</td>
                        <td>29.9&#60BMI指数</td>
                    </tr>
                </tbody>
            </table>
            <div class="pad-t-16 pad-b-16 ">
                <div>BMI指数不适合以下人群：</div>
                <div>1.未满18岁；</div>
                <div>2.运动员；</div>
                <div>3.正在做重量训练；</div>
                <div>4.怀孕或哺乳中；</div>
                <div>5.身体虚弱或久坐不动的老人。</div>
            </div>
        </div>
        <div class="qy-bg-white mar-t-60">

        </div>
    </ion-content>

</ion-view>