<ion-view style="background: transparent" class="fadeDown-enter">
    <ion-content class="isSignFree"  padding="true"  has-bouncing="false">
        <div width="{{data.width+40}}" style="position: relative">
            <img  style="margin-left: 10px;" width="{{data.width}}" src="resource/images/appoint/signfree.png" ng-click="sign()" >
            <img style="position: absolute;width: 30px;right: 3px;top: -10px;"  src="resource/images/appoint/sign_cancel.png" ng-click="cancelsign()">
        </div>
    </ion-content>
</ion-view>
