<ion-view  class="select-doctor-date">
    <ion-content  class="pad-l-14 pad-r-14 " padding="false"  has-bouncing="false" scrollbar-y="false">
       <div class=" select_title">
          <span class="f14 qy-deepblue">
              <span kyee-i18n-directive  code="appointDate" class="text-ellipsis" style="width: 135px;display: block;position: relative;top: 0px;" default="预约时间（多选）"></span>
              </span>
            <span class=" f14 select_all" ng-click="allDate()" style="position: absolute;top: 0px;right: 0px;">
                           <i class="f16" ng-class="{'ion-android-checkbox-outline-blank':isallselect(),'ion-android-checkbox-outline qy-green':!isallselect()}" ></i>
           <span class=" text-ellipsis">
           <span kyee-i18n-directive  code="noTimeLimit" default="不限时间"></span>
           </span>
            </span>
       </div>
        <div>
            <ul class="row">
                <li class="week_box f12" kyee-i18n-directive  code="Monday" default="周一"></li>
                <li class="week_box f12" kyee-i18n-directive  code="Tuesday" default="周二"></li>
                <li class="week_box f12" kyee-i18n-directive  code="Wednesday" default="周三"></li>
                <li class="week_box f12" kyee-i18n-directive  code="Thursday" default="周四"></li>
                <li class="week_box f12" kyee-i18n-directive  code="Friday" default="周五"></li>
                <li class="week_box f12" kyee-i18n-directive  code="Saturday" default="周六"></li>
                <li class="week_box f12" kyee-i18n-directive  code="Sunday" default="周日"></li>
            </ul>
            <ul class="row" >
                <li ng-if ="$index<7" class="f12 date_box"  ng-class="{'qy-grey2':isoverToday(data.weekDate[$index]),'qy-bg-green qy-fff':data.showweek[$index]==1}"  ng-repeat="week in data.weekDateShow track by $index" ng-click="getDate(data.weekDate[$index],$index)">
                    {{data.weekDateShow[$index]}}
                </li>
            </ul>
            <ul class="row" >
                <li ng-if ="6<$index && $index<14" class="f12 date_box" ng-class="{'qy-bg-green qy-fff':data.showweek[$index]==1}" ng-repeat="week in data.weekDateShow track by $index" ng-click="getDate(data.weekDate[$index],$index)">
                    {{data.weekDateShow[$index]}}
                </li>
            </ul>
            <ul class="row">
                <li ng-if ="13<$index&& $index<21" class="f12 date_box" ng-class="{'qy-bg-green qy-fff':data.showweek[$index]==1}" ng-repeat="week in data.weekDateShow track by $index" ng-click="getDate(data.weekDate[$index],$index)">
                    {{data.weekDateShow[$index]}}
                </li>
            </ul>
        </div>
        <div class=" select_title" ng-if="data.IS_SHOW_FILTER_CONDITIONS==1">
          <span class="f14 qy-deepblue">
              <span kyee-i18n-directive  code="appointClinic" class="text-ellipsis" style="width: 135px;display: block;position: relative;top: 0px;" default="医生号源（多选）"></span>
              </span>
            <span class=" f14 select_all" ng-click="allClinic()" style="position: absolute;top: 0px;right: 0px;">
                           <i class="f16" ng-class="{'ion-android-checkbox-outline-blank':isallselectClinic(),'ion-android-checkbox-outline qy-green':!isallselectClinic()}" ></i>
           <span class=" text-ellipsis">
           <span kyee-i18n-directive  code="allClinic" default="全部号源"></span>
           </span>
           </span>
            <ul class="row">
                <li  class="f12 date_box"  ng-class="{'qy-bg-green qy-fff':data.showweekClinic[$index]==1}" ng-click="getClinic(data.FILTER_CONDITIONS[$index],$index)" ng-repeat="doctorTile in data.FILTER_CONDITIONS track by $index">
                    {{doctorTile}}
                </li>
            </ul>
        </div>
    </ion-content>
    <ion-footer-bar class="foot_butten">
        <button  ng-class="{'resetbutton button-size-s':!isallselect(),'resetbutton_new button-size-s button_color_bg_green':isallselect()}" ng-click="resetData()" style="height: 33px;">
            <span kyee-i18n-directive  code="reset" default="重置"></span>
        </button>
        <button  class=" selectbutton button-size-s button-color-bg-green" ng-click="selectDate()" style="height: 33px;">
            <span kyee-i18n-directive  code="sureMsg" default="确定"></span>
            </button>
    </ion-footer-bar>
</ion-view>
