<div class="kyee_framework_sudoku">

	<table width="100%" style="height: {{height}}px;">

		<tr ng-repeat="row in data">
			<td kyee-action-holder-directive="shortcuts_to_{{row[0].href}}" height="{{height / data.length}}px;" width="33%" ng-click="$root.KAH($event)||click(row[0])" align="center" style="vertical-align : middle;background-color: {{row[0].backgroundcolor}};">
				<button ng-if="row[0].placeholder != true" class="button button-full button-outline sudoku-button-green" style="height: 100%;">
					<img ng-src="{{row[0].image_url}}" width="64%"/>
					<div style="line-height: 1px;">{{row[0].name}}</div>
				</button>
			</td>
			<td kyee-action-holder-directive="shortcuts_to_{{row[1].href}}" height="{{height / data.length}}px;" width="33%" ng-click="$root.KAH($event)||click(row[1])" align="center" style="vertical-align : middle;background-color: {{row[1].backgroundcolor}};">
				<button ng-if="row[1].placeholder != true" class="button button-full button-outline sudoku-button-green" style="height: 100%;">
					<img ng-src="{{row[1].image_url}}" width="64%"/>
					<div style="line-height: 1px;">{{row[1].name}}</div>
				</button>
			</td>
			<td kyee-action-holder-directive="shortcuts_to_{{row[2].href}}" height="{{height / data.length}}px;" width="33%" ng-click="$root.KAH($event)||click(row[2])" align="center" style="vertical-align : middle;background-color: {{row[2].backgroundcolor}};">
				<button ng-if="row[2].placeholder != true" class="button button-full button-outline sudoku-button-green" style="height: 100%;">
					<img ng-src="{{row[2].image_url}}" width="64%"/>
					<div style="line-height: 1px;">{{row[2].name}}</div>
				</button>
			</td>
		</tr>

	</table>

</div>