<div>
    <!--中间空提示-->
    <div class="row empty-box1">
        <div class="mar-b-10">
            <i class="icon empty-icon icon-icon_4"></i>
        </div>
        <div class="col empty_right">
            <div ng-bind-html="paidData.TOP_TIP|kyee_to_html" id="inpatient_paid_query_id">{{paidData.TOP_TIP}}</div>
        </div>
    </div>
    <ul>
        <li ng-if="paidData.SHOW_INP"  class="qy-bg-white pad-b-14 border-td pad-td-10 f14" style="position: relative;padding-top: 9px;">
            <span kyee-i18n-directive code="inHospitalNo" default="住院号："></span>
            <input placeholder={{placeholder.pHHospitalCode}} class="input_content f14" ng-model="queryObj.hospitalCode">
            <a class="col col-10 ta-r clear_icon" ng-show="queryObj.hospitalCode">
                <i class="icon ion-close-circled  qy-grey4 f16" ng-click="clearNo()" ></i>
            </a>
        </li>
        <li ng-if="paidData.SHOW_INVOICE" class="qy-bg-white pad-b-14 border-td pad-td-10 f14" style="position: relative">
            <span kyee-i18n-directive code="QInVoiceNo" default="发票号："></span>
            <input placeholder={{placeholder.pHInvoice}} class="input_content f14" ng-model="queryObj.invoiceNo">
            <a class="col col-10 ta-r clear_icon" ng-show="queryObj.invoiceNo">
                <i class="icon ion-close-circled  qy-grey4 f16" ng-click="clearNo()" ></i>
            </a>
        </li>
        <li class="mar-b-14 mar-t-20">
            <button class="button-size-l button button-block" ng-click="nextStep()" kyee-i18n-directive code="QNextStep"
                    default="下一步" kyee-operation-monitor-directive="nextStep" ></button>
        </li>
    </ul>
</div>