<div>
    <div class = "qy_register_message qy-grey7 mar-tb-30" style="height: 265px;">
        <div class="f18 fw-b ta-c">您关注的医生有号了！</div>
        <div class="ta-c" style="height: 140px;width: 140px;margin: 30px auto 20px auto;">
            <img ng-src="resource/images/appoint/remind.png" class="ta-c" style="height: 140px;width: 140px;" />
        </div>
        <div class="ta-c line35 f14">
            查询余号次数
            <span class="fw-b qy-orange" style="font-size: 24px;">{{searchCount}}</span>
        </div>
        <div class="ta-c line20 f14">
            号源较为紧张，请尽快预约挂号
        </div>
    </div>
</div>