<ion-view  class="rush_clinic_success appointment" cache-view="false">
    <ion-nav-bar  class="qy-header success_title" align-title="center" >
        <ion-nav-back-button ng-click="back()"></ion-nav-back-button>
        <ion-nav-title >
            <span  kyee-i18n-directive  code="rushSuccessful" default="抢号成功"></span>
        </ion-nav-title>
        <!--<ion-nav-buttons side="right">-->
            <!--<a class="button button-clear " ng-click="openRightMenu('more->MAIN_TAB')">-->
                <!--<i class="icon ion-navicon"></i>-->
            <!--</a>-->
        <!--</ion-nav-buttons>-->
    </ion-nav-bar>

    <div class="qy-bg-grey2" style="position: absolute;top: 43px;">
        <div class="red_height">
            <div class="text-center">
                <img ng-src="resource/images/appoint/rushSuccess.png" class="successImg">
            </div>
            <p class="f_14_title" kyee-i18n-directive  code="textSuccessful" default="小趣为您抢号成功啦！"></p>
        </div>
        <div class="first_bg">
            <div class="like_table_time" style="padding-left:{{(KyeeEnv.innerSize.width/2 -120)/2 + 'px'}};padding-right:{{(KyeeEnv.innerSize.width/2 -120)/2 + 'px'}}">
                <p style="font-size: 14px;color:white;width: 120px;" kyee-i18n-directive  code="rushTime" default="抢号时长"></p>
                <p ng-if = RUSH_SUM_HOUR_SHOW><span style="font-size: 26px;color:white;width: 120px;">{{rushData.RUSH_SUM_HOUR}}</span><span style="font-size: 14px;color:white;">小时</span><span style="font-size: 26px;color:white;">{{rushData.RUSH_SUM_MIN}}</span><span style="font-size: 14px;color:white;">分</span></p>
                <p ng-if = !RUSH_SUM_HOUR_SHOW><span style="font-size: 26px;color:white;width: 120px;">{{rushData.RUSH_SUM_MIN}}</span><span style="font-size: 14px;color:white;">分</span></p>
            </div>
            <div class="like_table_count" style="padding-left:{{(KyeeEnv.innerSize.width/2 -120)/2 + 'px'}};padding-right:{{(KyeeEnv.innerSize.width/2 -120)/2 + 'px'}}">
                <p style="font-size: 14px;color:white;width: 120px;" kyee-i18n-directive  code="rushCount" default="抢号次数"></p>
                <p style="font-size: 26px;color:white;width: 120px;">{{rushData.RUSH_COUNT}}</p>
            </div>
        </div>
    </div>

    <ion-content has-bouncing="true" class="qy-bg-grey2 footer_56">
        <!--下拉刷新-->
        <!--<ion-refresher pulling-text="{{$root.lang.pullingText}}" pulling-icon="" refreshing-icon=""
                       refreshing-text="{{$root.lang.refreshingText}}" class="qy-refresh-icon" on-refresh="onRefreshBtn()">
        </ion-refresher>-->
        <div class="qy-bg-grey2">
            <div class="border-d qy-bg-white">
                <ul class="pad-r-14 ul_hos" >
                    <li class="row line_30 " style="position: relative;">
                        <span class="f14 qy-deepblue" kyee-i18n-directive  code="hospitalName" default="就诊医院："></span>
                        <span class="f14 pad-r-10 qy_hospital mar-l-16 text-ellipsis qy-grey7"style="max-width:{{(KyeeEnv.innerSize.width-28)-(KyeeEnv.innerSize.width)*0.35+'px'}};">{{rushData.HOSPITAL_NAME}}</span>
                    </li>
                    <li class="row line_30" style="position: relative;">
                        <span class="f14 qy-deepblue"  kyee-i18n-directive  code="deptName" default="就诊医生："></span>
                        <div class="col mar-l-16 text-ellipsis">
                            <span class="f14 qy-grey7 ">{{clinicDoctor}}</span>
                        </div>
                    </li>
                    <li class="row line_30" >
                        <span class="f14 fixed_width1 qy-deepblue" kyee-i18n-directive  code="visitSite" default="就诊日期："></span>
                        <span class="col f14 mar-l-16 qy-grey7" >{{REG_DATE_TIME}}</span>
                    </li>

                    <li class="row line_30" ng-if="showFee">
                        <span class="f14 fixed_width1 qy-deepblue">预付费用：</span>
                        <span class="col f14 mar-l-16 qy-grey7" >¥{{rushData.ADVANCE_AMOUNT}}</span>
                    </li>
                    <li class="row line_30" ng-if="showFee">
                        <span class="f14 fixed_width1 qy-deepblue">实际挂号费：</span>
                        <span class="col f14 qy-grey7" style="margin-left: 2px;">¥{{rushData.REALITY_AMOUNT}}</span>
                    </li>
                    <li class="row line_30" ng-if="showFee&&rushData.HAS_BALANCE">
                        <span class="f14 fixed_width1 qy-deepblue" >余额：</span>
                        <span class="col f14 qy-grey7" style="margin-left: 44px;">¥{{rushData.REFUND_AMOUNT}}<span style="color: #ff9900;margin-left: 8px;">{{payStatus}}</span></span>
                        <span class="f14" style="position: absolute; right: 20px;color:#999999" ng-if="showFee&&rushData.HAS_BALANCE&&(rushData.STATUS==2 )" ng-click="goToRefund(rushData)">查看详情</span>
                        <i ng-if="showFee&&rushData.HAS_BALANCE&&(rushData.STATUS==2)" class="ion-chevron-right right_arrow_new qy-grey5" style="right: 6px"></i>
                    </li>
                </ul>
                <ul class="border-t ul_hos" >

                    <li class="row line_30 " >
                        <span class="f14 qy-deepblue"  kyee-i18n-directive  code="patient" default="就诊人："></span>
                        <span class="f14 qy-grey7" style="margin-left: 30px">{{rushData.PATIENT_NAME}}</span>
                    </li>
                    <li class="row line_30" ng-show="rushData.CARD_NO">
                        <span class="f14 qy-deepblue"  kyee-i18n-directive  code="cardNo" default="就诊卡："></span>
                        <span class="f14 qy-grey7"style="margin-left: 30px">{{rushData.CARD_NO}}</span>
                    </li>

                    <li class="row line_30">
                        <span class="f14 qy-deepblue"  kyee-i18n-directive  code="phone" default="手机号："></span>
                        <span class="f14 qy-grey7" style="margin-left: 30px">{{customPhoneShow}}</span>
                    </li>
                </ul>
            </div>
            <div style="font-size: 12px;color: #b5b5b5;width: 100%;text-align: center;padding-top: 10px;"><span kyee-i18n-directive  code="successTime" default="抢号成功时间："></span><span>{{rushData.RUSH_SUCESS_SHOW}}</span></div>
        </div>

        <!--上拉加载更多-->
        <!-- <ion-infinite-scroll icon="ion-loading-c" ng-if="hasmore" on-infinite="loadMore()" immediate-check="false" distance="1%" >
         </ion-infinite-scroll>-->
    </ion-content>

    <div kyee-share-directive
         share-params="shareData"
         has-share-menu="hasShareMenu"
         bind="bind(params)">
    </div>

    <ion-footer-bar class="footer_border qy-bg-grey2">
        <!--按钮-->
        <div class="bar appointment_detail_footer qy-bg-grey2" style="border: 0">
            <div class="col pad-l-14 qy-bg-grey2 border0">
                <button kyee-action-holder-directive="refresh" ng-click="todetail()"
                        class="button_position button button-block mar-t-10 mar-d-10 f14" style="background-color: white !important;color: #5baa8a;border: 1px solid #5baa8a;border-radius: 4px;line-height: 34px;height: 36px; " >
                    <span class="f14" kyee-i18n-directive  code="lookDetail" default="查看预约详情"></span>
                </button>
            </div>
            <div class="col pad-r-14 qy-bg-grey2 pad-l-14 border0">
                <button kyee-action-holder-directive="returnToVisitTree" ng-click="showShareMenu()"
                        class="button_position button button-block button_size_l f14" style="background-color: #5baa8a !important;color: white;border: 1px solid #5baa8a;border-radius: 4px;line-height: 34px;height: 36px; ">
                    <span class="f14" kyee-i18n-directive  code="share" default="分享"></span>
                </button>
            </div>
        </div>

    </ion-footer-bar>
 </ion-view>