<div id="kyee_framework_broadcast" onclick="angular.element(document.getElementById('kyee_framework_broadcast')).css('display', 'none')" style="position: absolute;top: 50%; margin-top:-16px;width:260px;z-index: 9999;text-align: center;display: none;background-color: black;opacity:0.7;border-radius: 5px;padding: 5px;">
    <i id="kyee_framework_broadcast_icon" style="font-size: 18px;color: white;margin-right: 5px;"></i>
    <span id="kyee_framework_broadcast_content" style="color: white;opacity: 1;font-size: 14px;"></span>
</div>