<ion-view class="consult_contract" cache-view="false">
    <ion-nav-bar align-title="center" class="qy-header">
        <ion-nav-back-button ng-click="goBack()"></ion-nav-back-button>
        <ion-nav-title>
            <span>在线咨询患者知情条款</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content has-bouncing="true" padding="false" class="has-header qy-bg-grey2 f14 has_footer " scrollbar-y="false">
        <div class="pad_20">
            <dl class="rule">
                <dis>1.</dis>
                <mar_lt><p>咨询服务均只限于以您的主观描述为依据，医生尽可能利用医学知识及临床经验给予一定的解惑及如何就医方面的建议，不保证您在诊断、治疗方面的要求一定能够满足，趣医不对结果是否符合您的预期做保证。</p></mar_lt>
            </dl>
            <dl class="rule">
                <dis>2.</dis>
                <mar_lt><p>趣医平台只是患者、医生及医院之间的互通服务平台，确保您可以通过趣医平台使用相关咨询服务；服务所需的费用由医生自主设置，您可自愿地选择是否接受该费用并支付，所产生的任何费用为您与医生之间的自愿行为。</p></mar_lt>
            </dl>
            <dl class="rule">
                <dis>3.</dis>
                <mar_lt><p>咨询过程中您从医生处所获悉的医生答复、医疗建议等任何信息均属于医生的个人建议（“医生建议”），不能作为治疗方案的直接依据。您知晓并同意在任何情况下，如需诊断及治疗均还需前往医疗机构进行，如您擅自将医生建议作为处方或治疗方案使用的，趣医和医生均不承担任何责任。</p></mar_lt>
            </dl>
            <dl class="rule">
                <dis>4.</dis>
                <mar_lt><p>在咨询过程中请您注意语言文明，尊重医生，平等交流。如有对医生恶意中伤，语言不文明，医生有权立即中断服务，并且在该种情况下，您将无权请求退款。 </p></mar_lt>
            </dl>
            <dl class="rule">
                <dis>5.</dis>
                <mar_lt><p>电话或视频咨询过程中，如遇到医生有紧急事情处理时（医生职业要求），请您知晓并同意暂停本次咨询。同时，您可通过趣医平台的客服进行申报，以便趣医平台重新安排咨询服务的时间。</p></mar_lt>
            </dl>
            <dl class="rule">
                <dis>6.</dis>
                <mar_lt><p>趣医平台的在线服务不承诺网络服务能满足您的任何要求。对于不可抗力或趣医不能控制的原因造成的网络服务中断或其他缺陷，趣医不承担任何责任，但将尽力减少因此给您造成的损失和影响。</p></mar_lt>
            </dl>
        </div>
    </ion-content>
</ion-view>
