<ion-view class="qy_my_care_doctor appointment">

    <ion-nav-bar align-title="center" class="qy-header">
        <ion-nav-back-button ng-click="back()"> </ion-nav-back-button>
        <ion-nav-title>
            <span kyee-i18n-directive code="title" default="我的医生"></span>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content has-bouncing="true" padding="false" class="qy-bg-grey2" delegate-handle="businessList">
        <div class="row border-b tab">
            <div class="col pad-t-14" ng-class="{'on':isClick ==1}" ng-click="selectClick(1)"
                 kyee-i18n-directive code="caretitle" default="我的关注">
            </div>
            <div class="col pad-t-14" ng-class="{'on':isClick ==2}" ng-click="selectClick(2)"
                 kyee-i18n-directive code="myApp" default="我的预约">
            </div>
            <div ng-if="userSource== '0' && showFamilyDocotor" class="col pad-t-14" ng-class="{'on':isClick ==3}"
                 kyee-i18n-directive code="myFamilyDoctor" default="家庭医生"
                 ng-click="selectClick(3)">
            </div>
            <div ng-if="userSource== '0' && showSpecialDiseaseDocotor" class="col pad-t-14" ng-class="{'on':isClick ==4}"
                 kyee-i18n-directive code="myChronicDoctor" default="慢病医生"
                 ng-click="selectClick(4)">
            </div>
        </div>

        <!-- 我的关注 start -->
        <div ng-show="isClick == 1">
            <div class="mar-t-10 qy-bg-white">
                <ion-list can-swipe="true">
                    <ion-item class="border-t" ng-repeat="doctor in careList" ng-click="gotoAppoint(doctor)" >
                        <div class="row">
                            <div class="doctor_padding " >
                                <img ng-src="{{doctor.DOCTOR_PIC_PATH}}" class="img_he" onerror="this.src='resource/images/base/head_default_man.jpg'">
                            </div>
                            <ul class="col col_60">
                                <li class="qy-deepblack li_tip" >
                                    <span class="f16 qy-grey7">{{doctor.DOCTOR_NAME}}</span>
                                    <span class="f12 pad-l-5" style="color: #7ea6e8" ng-if="doctor.DOCTOR_TITLE"> {{doctor.DOCTOR_TITLE}}</span>
                                </li>
                                <li style="max-width: 195px;color: #666;" class="text-ellipsis f14">
                                    {{doctor.HOSPITAL_NAME}}
                                </li>
                                <li class="f14 text-ellipsis" style="max-width: 195px; color: #666;">
                                    {{doctor.DEPT_NAME}}
                                </li>
                            </ul>
                            <div class="div_c col ta-c mar-t-20 qy-grey5">
                                <div class="pad-l-14">
                                    <span class="doctor_num">{{doctor.DOCTOR_CARENUM}}</span>
                                    <p class="doctor_num1" kyee-i18n-directive code="careCount" default="关注数"></p>
                                </div>
                            </div>
                         </div>
                        <ion-option-button ng-click="cancleCare(doctor,$index)" class="button button-assertive"
                        style="color: #fff !important;" kyee-i18n-directive code="cancelCare" default="取消关注">
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </div>
            <div ng-if="showEmpty" class="empty-text">
                <i class="icon-icon_3 empty-icon"></i>
                <p class="care_empty" kyee-i18n-directive code="noCareInfo" default="您还未关注任何医生"></p>
            </div>
        </div>
        <!-- 我的关注 end -->

        <!-- 我的预约 start -->
        <div ng-show="isClick == 2">
            <div class="list" ng-if="appointListNotHidden">
                <ion-list can-swipe="true">
                    <ion-item ng-repeat="appointList in resultData" class="item qy_appointment_list in mar-t-10 border-td">
                        <div class="qy-bg-white">
                            <ul class="appointment_list_ul padding_0">
                                <li ng-if="appointList.IS_REFERRAL!=2 || !appointList.REFERRAL_HOSPITAL_NAME" class="row pad-b-14 " ng-click="onAppointRecordListTap(appointList)" ng-class="{'border-d':isDisplay==$index}"
                                    style="line-height: 40px;">
                                    <img class="appointment_list_hospoital_img"
                                         ng-src="{{appointList.LOGO_PHOTO?appointList.LOGO_PHOTO:'resource/images/icons/logo_default.png'}}"
                                         onerror="this.src='resource/images/icons/logo_default.png'"/>
                                    <span class=" f14 text-ellipsis   " style="max-width:45%;display: inline-block;">{{appointList.HOSPITAL_NAME}}
                                    </span>
                                    <span class="qy-grey5 f12 col" style="padding-left: 8px">{{appointList.REG_DATE_RESULT}}</span>
                                    <span style="position: absolute;right: 14px;"
                                       ng-if="(!appointList.SOURCE_NAME)&&!((appointList.payNotHiddden)&&(appointList.timeState))"
                                       ng-style="{'color': appointList.STATUS_DESC_STYLE}"> {{appointList.APPOINT_STATUS_DESC}}</span>
                                    <span ng-show="(appointList.payNotHiddden)&&(appointList.timeState)" ng-bind-html="appointList.leaveTime|kyee_to_html"></span>
                                    <span ng-show="(appointList.SOURCE_NAME)&&!((appointList.payNotHiddden)&&(appointList.timeState))">{{appointList.SOURCE_NAME}}</span>
                                </li>
                                <li ng-if="appointList.IS_REFERRAL == 2 && appointList.REFERRAL_HOSPITAL_NAME" class="row pad-b-14" ng-click="onAppointRecordListTap(appointList)" ng-class="{'border-d':isDisplay==$index}">

                                    <div style="height: 70px;width: 100%;">
                                        <div style="height: 30px;" class="row">
                                            <img class="appointment_list_hospoital_img"
                                                 ng-src="{{appointList.REFERAL_LOGO_PHOTO?appointList.REFERAL_LOGO_PHOTO:'resource/images/icons/logo_default.png'}}"
                                                 onerror="this.src='resource/images/icons/logo_default.png'"/>
                                            <span style="position: relative;top: 11px;max-width: 36%;"
                                                  class="text-ellipsis f14 col ">{{appointList.REFERRAL_HOSPITAL_NAME}}</span>
                                            <span class="qy-grey5 f12" style="padding-left: 8px;position: relative;top: 11px;">{{appointList.REG_DATE_RESULT}}</span>
                                        </div>
                                        <div>
                                            <img class="appointment_list_hospoital_img"
                                                 ng-src="{{appointList.LOGO_PHOTO?appointList.LOGO_PHOTO:'resource/images/icons/logo_default.png'}}"
                                                 onerror="this.src='resource/images/icons/logo_default.png'"/>
                                            <span style="display: inline-block;max-width: 57%;" class="text-ellipsis f14">{{appointList.HOSPITAL_NAME}}</span>
                                        </div>
                                    </div>
                                    <i style="position: absolute;left: 69%;top: 25px; font-size: 20px; color: #5baa8a;" class="icon icon-referrals"></i>
                                    <span style="position: absolute;right: 14px;top: 9px;"
                                       ng-if="(!appointList.SOURCE_NAME)&&!((appointList.payNotHiddden)&&(appointList.timeState))"
                                       ng-style="{'color': appointList.STATUS_DESC_STYLE}"> {{appointList.APPOINT_STATUS_DESC}}</span>
                                    <span style="position: absolute;right: 14px;top: 9px;"
                                      ng-show="(appointList.payNotHiddden)&&(appointList.timeState)" ng-bind-html="appointList.leaveTime|kyee_to_html"></span>
                                    <span style="position: absolute;right: 14px;top: 9px;"
                                      ng-show="(appointList.SOURCE_NAME)&&!((appointList.payNotHiddden)&&(appointList.timeState))">{{appointList.SOURCE_NAME}}</span>
                                </li>
                                <li class="pad-b-14 qy-bg-grey1">
                                    <div class="row">
                                        <div style="margin: 10px 16px 10px 0;overflow: hidden;" ng-if="appointList.DOCTOR_SEX==1" ng-click="goToDoctorInfo(appointList)">
                                            <img style="display: block;height: auto;position: relative; width: 52px;"
                                                 ng-src="{{appointList.DOCTOR_PIC_PATH?appointList.DOCTOR_PIC_PATH:'resource/images/base/head_default_female.jpg'}} "
                                                 onerror="this.src='resource/images/base/head_default_female.jpg'">
                                        </div>
                                        <div style="margin: 10px 16px 10px 0;overflow: hidden;" ng-if="appointList.DOCTOR_SEX!=1" ng-click="goToDoctorInfo(appointList)">
                                            <img style="display: block;height: auto;position: relative; width: 63px;"
                                                 ng-src="{{appointList.DOCTOR_PIC_PATH?appointList.DOCTOR_PIC_PATH:'resource/images/base/head_default_man.jpg'}} "
                                                 onerror="this.src='resource/images/base/head_default_man.jpg'">
                                        </div>
                                        <ul class="col" style="padding-top: 12px;" ng-click="onAppointRecordListTap(appointList)">
                                            <li class="row" style="margin-bottom: 4px">
                                                <div class="col text-ellipsis pad-r-10">
                                                    <span class="f16 mar-r-5"> {{appointList.DOCTOR_NAME}}</span>
                                                    <span class="qy-blue f12"> {{appointList.CLINIC_TYPE}}</span>
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col text-ellipsis pad-r-10 f14" style="color: #666666;">
                                                    {{appointList.DEPT_NAME}}
                                                </div>
                                            <!--<span class="qy-grey5 f12" ng-if="((appointList.IS_SHOW_FEE==1) ||-->
                                            <!--((appointList.AMOUNT_STRINT!='0')&&(appointList.AMOUNT_STRINT!='0.0')&&(appointList.AMOUNT_STRINT!='0.00')))" >-->
                                                <!--¥{{appointList.AMOUNT_STRINT}}</span>-->
                                                <!--&lt;!&ndash;金额取这个字段，是为了保留两位小数&ndash;&gt;-->
                                            </li>
                                            <li class="row" ng-if="appointList.COMMENT_SCORE" style="margin-top: 4px;margin-bottom: 14px">
                                                <span class="fl-l f12" style="background: #ff9900;color: white;padding: 0px 2px 0px 2px;height: 1.4em;position: relative;top: 4px;line-height: 19px;border-radius: 2px; margin-right: 6px;" ng-click="goToSeeComment(appointList,$event)" kyee-i18n-directive  code="myScore" default="评"></span>
                                                <span class="fl-l qy-orange" style=" font-size: 28px;font-weight: bold;" ng-click="goToSeeComment(appointList,$event)">{{appointList.COMMENT_SCORE}}</span>
                                                <span class="fl-l qy-orange" style="  position: relative;top: 5px;" ng-click="goToSeeComment(appointList,$event)" kyee-i18n-directive  code="giveScore" default="分" ></span>
                                            </li>
                                            <li class="row" ng-if="!appointList.COMMENT_SCORE&&appointList.SHOW_COMMENT" style="margin-top: 4px;margin-bottom: 14px">
                                                <span class="fl-l f12" style="background: #b5b5b5;;color: white;padding:0px 2px 0px 2px;height: 1.5em;position: relative;top:2px;line-height:19px;      border-radius: 2px; margin-right: 6px;"
                                                      kyee-i18n-directive code="noyHaveCare" default="暂无评价"> </span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pad-b-14 ta-r pad-td-5"
                                     ng-if="appointList.SHOW_COMMENT || appointList.SHOW_CONSULT|| appointList.SHOW_NEW_CONSULT
                                    ||appointList.SHOW_AGAIN_APPOINT || appointList.SHOW_REAPPOINT
                                    ||(appointList.payNotHiddden)&&appointList.APPOINT_TYPE=='7'
                                    ||(appointList.payNotHiddden)&&appointList.REGIST_TYPE=='8'
                                    ||(appointList.APPOINT_TYPE=='0'||appointList.REGIST_TYPE=='0')&&appointList.SHOW_TEL_APPOINT_PAY=='1'"
                                    style="line-height: 26px;height: 50px;padding-top: 10px;">
                                    <button class="button button-size-s appointment_list_button care_doctor_button"
                                             ng-if="appointList.SHOW_COMMENT"
                                             ng-click="goToComment(appointList)">{{appointList.COMMENT_BUTTON_NAME}}
                                    </button>

                                    <button class="button button-size-s appointment_list_button care_doctor_button"
                                            ng-if="appointList.SHOW_NEW_CONSULT" ng-click="goToConsultDoctorInfo(appointList)" kyee-i18n-directive  code="seeDoctor" default="咨询医生">
                                    </button>
                                    <button class="button button-size-s appointment_list_button care_doctor_button"
                                            ng-if="appointList.SHOW_CONSULT" ng-click="consultDoctor(appointList)" kyee-i18n-directive  code="seeDoctor" default="咨询医生">
                                    </button>

                                    <button  class="button button-size-s appointment_list_button care_doctor_button"
                                             ng-if="appointList.SHOW_AGAIN_APPOINT" ng-click="againAppoint(appointList)"kyee-i18n-directive  code="aginAppointment" default="再次预约">
                                    </button>
                                    <button  class="button button-size-s appointment_list_button care_doctor_button"
                                             ng-if="appointList.SHOW_REAPPOINT" ng-click="reappoint(appointList)"kyee-i18n-directive  code="aginAppoint" default="重新预约">
                                    </button>
                                    <button class="button button-size-s appointment_list_button care_doctor_button"
                                            ng-show="(appointList.payNotHiddden)&&appointList.APPOINT_TYPE=='7'"
                                            ng-click="onGoToPay(appointList)" kyee-i18n-directive  code="goPay" default="继续支付">
                                    </button>
                                    <button  class="button button-size-s appointment_list_button care_doctor_button"
                                             ng-show="(appointList.payNotHiddden)&&appointList.REGIST_TYPE=='8'"
                                             ng-click="goToPayRegist(appointList)" kyee-i18n-directive  code="goPay" default="继续支付">
                                    </button>
                                    <!--电话预约的继续支付-->
                                    <button class="button button-size-s appointment_list_button care_doctor_button"
                                            ng-show="(appointList.APPOINT_TYPE=='0'||appointList.REGIST_TYPE=='0')&&appointList.SHOW_TEL_APPOINT_PAY=='1'" ng-click="onAppointRecordListTap(appointList)">支付
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <ion-option-button class="button" style="color: #fff !important;" ng-class="appointList.DELET_FLAG==1 ? 'button-assertive' : 'qy-fff qy-bg-grey3'" ng-click="delete($index,appointList)" kyee-i18n-directive code="deleteApp" default="删除">
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </div>
            <!--上拉加载更多-->
            <ion-infinite-scroll icon="ion-loading-c" ng-if="hasmore" on-infinite="loadMore()" immediate-check="false" distance="1%">
            </ion-infinite-scroll>
            <div ng-if="dataNotHidden" class="empty-text">
                <i class="icon-icon_3 empty-icon"></i>
                {{dataDetail}}
            </div>
        </div>
        <!-- 我的预约 end -->

        <!-- 家庭医生 start -->
        <div ng-show="isClick == 3">
            <div>
                <div class="qy-bg-white">
                    <div class="pad-l-14 f14 row div_ba">
                        <div class="col col-80 text-ellipsis">
                            <span style="color:#f90" kyee-i18n-directive code="careTip" default="有未绑定的私人医生？请对就诊者" ></span>
                            <span class="qy-blue" ng-click="toSelectCustomer()" kyee-i18n-directive code="auth" default="实名认证"> </span>
                            <span class="query_show" kyee-i18n-directive code="careQuery" default="后查询家庭医生"> </span>
                        </div>
                        <div ng-click="queryInteractionInfo(true,'family')" class="f14 col">
                            <span class="query" kyee-i18n-directive code="careQuery1" default="查询"></span>
                        </div>
                    </div>
                </div>

                <div class="border-t border-b qy-bg-white" style="margin-bottom: 10px;" ng-repeat="patientInfo in familyDoctorViewArray">
                    <div style="background-color: #5eab8b;">
                        <div class=" border-d">
                            <div style="padding-bottom: 14px;margin-left: 5px;background-color: white;" class="col pad-lr-14 pad-t-14">
                                <span kyee-i18n-directive code="customer" default="就诊者："></span>
                                <span>{{patientInfo.oftenName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row care_box" ng-repeat="doctor in patientInfo.myfamilyDoctorInfos"
                         kyee-operation-monitor-directive="gotoAppoint">

                        <div ng-if="0==doctor.doctorSex&&!doctor.doctorPhoto" class="doctor_div"
                             ng-click="goDoctorDetails(doctor)">
                            <img class="head_image doctor_w" ng-src="'resource/images/base/head_default_man.jpg'"
                                 onerror="this.src='resource/images/base/head_default_man.jpg'">
                        </div>
                        <div ng-if="1==doctor.doctorSex&&!doctor.doctorPhoto" class="doctor_div"
                             ng-click="goDoctorDetails(doctor)">
                            <img class="head_image doctor_w" ng-src="'resource/images/base/head_default_man.jpg'"
                                 onerror="this.src='resource/images/base/head_default_man.jpg'">
                        </div>
                        <div ng-if="2==doctor.doctorSex&&!doctor.doctorPhoto" class="doctor_div"
                             ng-click="goDoctorDetails(doctor)" >

                            <img class="head_image doctor_w" ng-src="'resource/images/base/head_default_female.jpg'"
                                 ng-click="goDoctorDetails(doctor)">
                        </div>
                        <div ng-if="doctor.doctorPhoto" class="doctor_div pad-t-10" >
                            <img class="head_image doctor_w" ng-src="{{doctor.doctorPhoto}}"
                                 ng-click="goDoctorDetails(doctor)"
                                 onerror="this.src='resource/images/base/head_default_man.jpg'">
                        </div>

                        <ul class="col" style="margin-top: 14px;">
                            <li class=" qy-deepblack " style="padding-bottom: 4px">
                                <span class="f16 big_cor">{{doctor.doctorName}}</span>
                            <span class="qy-grey5 f12 pad-l-5 qy-blue"
                                  ng-if="doctor.doctorTitle">{{doctor.doctorTitle}}</span>
                            </li>
                            <li class="mid_cor text-ellipsis f14">
                                {{doctor.hospitalName}}
                            </li>
                            <li class="mid_cor text-ellipsis f14" style="margin-bottom: 14px">
                                {{doctor.deptName}}
                            </li>
                        </ul>
                        <div class="pad-r-14" style="position: relative;right: 14px;" ng-click="leaveMessage(doctor)">

                            <button class="button button-size-s appointment_list_button care_doctor_button mar-t-30"
                                    ng-if="doctor.type==2" kyee-i18n-directive  code="seeDoctor" default="咨询医生">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 家庭医生 end -->
        <!-- 慢病医生 start -->
        <div ng-show="isClick == 4">
            <div>
                <div class="qy-bg-white">
                    <div class="pad-l-14 f14 row div_ba">
                        <div class="col col-80 text-ellipsis">
                            <span style="color:#f90" kyee-i18n-directive code="careTip" default="有未绑定的私人医生？请对就诊者" ></span>
                            <span class="qy-blue" ng-click="toSelectCustomer()" kyee-i18n-directive code="auth" default="实名认证"> </span>
                            <span class="query_show" kyee-i18n-directive code="careQueryOther" default="后查询慢病医生"> </span>
                        </div>
                        <div ng-click="queryInteractionInfo(true,'chronic')" class="f14 col">
                            <span class="query" kyee-i18n-directive code="careQuery1" default="查询"></span>
                        </div>
                    </div>
                </div>

                <div class="border-t border-b qy-bg-white" style="margin-bottom: 10px;" ng-repeat="patientInfo in chronicDoctorViewArray">
                    <div style="background-color: #5eab8b;">
                        <div class=" border-d">
                            <div style="padding-bottom: 14px;margin-left: 5px;background-color: white;" class="col pad-lr-14 pad-t-14">
                                <span kyee-i18n-directive code="customer" default="就诊者："></span>
                                <span>{{patientInfo.oftenName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row care_box" ng-repeat="doctor in patientInfo.myfamilyDoctorInfos"
                         kyee-operation-monitor-directive="gotoAppoint">

                        <div ng-if="0==doctor.doctorSex&&!doctor.doctorPhoto" class="doctor_div"
                             ng-click="goDoctorDetails(doctor)">
                            <img class="head_image doctor_w" ng-src="'resource/images/base/head_default_man.jpg'"
                                 onerror="this.src='resource/images/base/head_default_man.jpg'">
                        </div>
                        <div ng-if="1==doctor.doctorSex&&!doctor.doctorPhoto" class="doctor_div"
                             ng-click="goDoctorDetails(doctor)">
                            <img class="head_image doctor_w" ng-src="'resource/images/base/head_default_man.jpg'"
                                 onerror="this.src='resource/images/base/head_default_man.jpg'">
                        </div>
                        <div ng-if="2==doctor.doctorSex&&!doctor.doctorPhoto" class="doctor_div"
                             ng-click="goDoctorDetails(doctor)" >

                            <img class="head_image doctor_w" ng-src="'resource/images/base/head_default_female.jpg'"
                                 ng-click="goDoctorDetails(doctor)">
                        </div>
                        <div ng-if="doctor.doctorPhoto" class="doctor_div pad-t-10" >
                            <img class="head_image doctor_w" ng-src="{{doctor.doctorPhoto}}"
                                 ng-click="goDoctorDetails(doctor)"
                                 onerror="this.src='resource/images/base/head_default_man.jpg'">
                        </div>

                        <ul class="col" style="margin-top: 14px;">
                            <li class=" qy-deepblack " style="padding-bottom: 4px">
                                <span class="f16 big_cor">{{doctor.doctorName}}</span>
                            <span class="qy-grey5 f12 pad-l-5 qy-blue"
                                  ng-if="doctor.doctorTitle">{{doctor.doctorTitle}}</span>
                            </li>
                            <li class="mid_cor text-ellipsis f14">
                                {{doctor.hospitalName}}
                            </li>
                            <li class="mid_cor text-ellipsis f14" style="margin-bottom: 14px">
                                {{doctor.deptName}}
                            </li>
                        </ul>
                        <div class="pad-r-14" style="position: relative;right: 14px;" ng-click="leaveMessage(doctor)">

                            <button class="button button-size-s appointment_list_button care_doctor_button mar-t-30"
                                    ng-if="doctor.type==3" kyee-i18n-directive  code="seeDoctor" default="咨询医生">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 慢病医生 end -->
    </ion-content>
</ion-view>