@charset "utf-8";

.frequent_info{

  .mg_t_100{
    margin-top: 100px;
  }
  .margin{
    margin: 16px 14px;
  }

  .right_icon{
    position: absolute;
    right: 16px;
    top:50%;
    margin-top: -10px;
  }


}