.text_decoration{
  text-decoration:underline
}
.quyiyuan_call_ambulance{
  .line_30{
    line-height: 30px;
  }
  .mar_l_20{
    margin-left: 20px !important;
  }
  .icon_loc{
    position: relative;
    top:2px;
  }
  .call_button{
    background-color: orange;
    color: white;
    border: 0;
    margin-bottom: 20px !important;
  }
  .icon_focus{
    position: relative;
    top:3px;
  }
  .h_14{
    height: 14px
  }
  .w_100{
    width: 100%;
  }
  .h_100{
    height: 100%;
  }
  .focus{
    padding-top: 24px;
    padding-bottom: 16px
  }

}
