<ion-view class="quyiyuan_appointment_register_pass_confirm"  cache-view="false">
    <ion-nav-bar class="qy-header" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>
            <span  kyee-i18n-directive  code="appoinInfoTitle" default="确认预约信息"></span>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-clear"  ng-click="openRightMenu('appointment_register_password')">
                <i class="icon ion-navicon"></i>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-bouncing="true" padding="false">
        <div class="list mar-t-10">
            <label class="item item-input">
                <span class="left_name"  kyee-i18n-directive  code="setPwd" default="设置密码："></span>
                <input type="password" ng-model="appointmentRegister.password" placeholder="{{placeholderNum}}"  >
            </label>
            <label class="item item-input">
                <span class="left_name" kyee-i18n-directive  code="argeSetPwd" default="重复密码："></span>
                <input type="password" ng-model="appointmentRegister.rePassword" placeholder="{{placeholderNum}}"  >
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer pad-b-14" >
        <button  kyee-action-holder-directive="registerAppointment"   ng-click="KAH($event) || register()" class="button button-block button-size-l">
            <span kyee-i18n-directive  code="registAppoint" default="立即注册预约"></span>
        </button>
    </div>

</ion-view>